<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <a class="me-2" (click)="backToCCClick()">
        <i class="fa-solid fa-arrow-left back-icon m-l-3"></i></a>
    <h4 class="page-title flex-grow-1 labelStyles">Deviations Login New Initiations</h4>
</div>

<div class="px-4 py-4">

    
    <div class="p-3 bg-white shadow-dark rounded-2 mb-3">
        
        <h5 class="page-card-title border-bottom">Deviation Identification</h5>
        <div class="p-3 row">
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Reference " class="col-sm-12 col-md-3 col-form-label">Reference </label>

                    <div class="col-md-6 d-flex radio-styles">
                        <div class=""><input type="radio" class="form-check-input external-radio-btn" id="External" name="reference" value="External" checked
                            (change)="selectRef($event)">
                            <label class="p-2" for="External">External</label>
                        </div>
                        <div class="rd-styles ms-4"> <input type="radio" class="form-check-input internal-radio-btn" id="Not Applicable" name="reference" value="Not Applicable"
                            (change)="selectRef($event)">
                            <label class="p-2" for="Not Applicable">Not Applicable</label>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="col-lg-12" *ngIf="externalFlag">
                <div class="form-group row">
                    <label for="External Reference" class="col-md-3 col-sm-12 col-form-label">External
                        Reference</label>
                    <div class="col-md-6  ">
                        <textarea rows="3" class="form-control" name="comment" form="usrform"
                            placeholder="Enter text here..."></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" *ngIf="externalFlag">
                <div class="form-group row ">
                    <label for="Description" class="col-md-3 col-sm-12 col-form-label text-dark">External Reference Documents,if any</label>
                    <div class="col-md-6  ">
                        <input type="file" class="form-control input-width" id="file" name="file" placeholder="" />
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Initiating Department" class="col-md-3 col-sm-12 col-form-label">Initiating
                        Department</label>
                    <div class="col-md-6 ">
                        <input type="text" class="form-control input-width" id="Initiating Department"
                            name="Initiating Department" placeholder="Quality Control" />
                    </div>
                </div>
            </div>
         
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Date of Initiation" class="col-md-3 col-sm-12 col-form-label">Date of
                        Initiation</label>
                    <div class="col-md-6 ">
                        <input type="text" class="form-control input-width" id="Date of Initiation"
                            name="Date of Initiation" placeholder="19/03/24" readonly />
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Date of Occurence" class="col-md-3 col-sm-12 col-form-label">Date of Occurence
                        </label>
                    <div class="col-md-6 ">
                        <input class="form-control date-styles" type="date" id="Date of Occurence" name="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Date of Identification" class="col-md-3 col-sm-12 col-form-label">Date of Identification
                        </label>
                    <div class="col-md-6 ">
                        <input class="form-control date-styles" type="date" id="Date of Identification" name="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Market" class="col-sm-12 col-md-3 col-form-label">Market</label>
                    <div class="col-md-6">
                        
                        <select name="status" class="form-select" (change)="selectMarket($event)">
                            <option *ngFor="let selectedMarketDetails of marketDetails" [value]="selectedMarketDetails.code">
                                {{selectedMarketDetails.name}} -  {{selectedMarketDetails.code}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Customer" class="col-sm-4 col-md-3 col-form-label">Customer</label>
                    <div class="col-md-6">
                        <select name="status" class="form-select" (change)="selectCustomer($event)">
                            <option *ngFor="let selectedCustomerDetails of customerDetails" [value]="selectedCustomerDetails.code">
                                {{selectedCustomerDetails.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Change Details-->

    <!-- *ngIf="labelText ==='Request Details'" -->


    <div class="p-3 bg-white shadow-dark rounded-2 mb-3">
        <!-- *ngIf="labelText ==='Change Details'" -->
        <h5 class="page-card-title border-bottom">Change Details</h5>
        <div class="p-3 row">
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Changes Related To" class="col-sm-3 col-form-label">Deviation Related To</label>
                    <div class="col-md-6">
                        <select name="status" class="form-select" (change)="selectionDetails($event)">
                            <option *ngFor="let selectedChangeDetails of changeDetails" [value]="selectedChangeDetails.code">
                                {{selectedChangeDetails.name}}
                            </option>
                        </select>
                       
                    </div>
                </div>
            </div>
          
          
            <ng-container *ngIf="selectedChangeDetails ==='Document' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Document" class="col-sm-3 col-form-label">Document</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="documentDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Facility/Utility' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Facility/Utility" class="col-sm-3 col-form-label">Facility/Utility</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="facilityDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Validation' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Validation" class="col-sm-3 col-form-label">Validation</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="validationDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='System' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="System" class="col-sm-3 col-form-label">System</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="System"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Software' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Software" class="col-sm-3 col-form-label">Software</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="softwareDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Process' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Process" class="col-sm-3 col-form-label">Process</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Process"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Components' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Components" class="col-sm-3 col-form-label">Components</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Components"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
         
            <ng-container *ngIf="selectedChangeDetails ==='Others' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Others" class="col-sm-3 col-form-label">Others</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Existing Procedure"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Product' && displayBasic ===true">
                <div class="col-lg-12">
                    <div class=" form-group row ">
                        
                            <label for="Product" class="col-md-3 col-sm-12 col-form-label">Product</label>
                            <div class="col-md-6">
                                <select name="status" class="form-select" (change)="selectProducts($event)">
                                    <option *ngFor="let selectedProoductedDetails of productDetails" [value]="selectedProoductedDetails.code">
                                        {{selectedProoductedDetails.name}}
                                    </option>
                                </select>
                            
                           
                        </div>   
                    </div>
                </div>
                 </ng-container>
                 <ng-container *ngIf="selectedChangeDetails ==='Batch No.(s)' && displayBasic ===true">
                    <div class="col-lg-12">
                        <div class=" form-group row ">
                            
                                <label for="Batch No.(s)" class="col-md-3 col-sm-12 col-form-label">Batch No.(s)</label>
                                <div class="col-md-6">
                                    <select name="status" class="form-select" (change)="selectBatch($event)">
                                        <option *ngFor="let selectedBatchDetails of batchDetails" [value]="selectedBatchDetails .code">
                                            {{selectedBatchDetails.name}}
                                        </option>
                                    </select>
                                
                               
                            </div>   
                        </div>
                    </div>
                     </ng-container>
                     <ng-container *ngIf="selectedChangeDetails ==='Material' && displayBasic ===true">
                        <div class="col-lg-12">
                            <div class=" form-group row ">
                                
                                    <label for="Material" class="col-md-3 col-sm-12 col-form-label">Material</label>
                                    <div class="col-md-6">
                                        <select name="status" class="form-select" (change)="selectMaterial($event)">
                                            <option *ngFor="let selectedMaterialDetails of materialDetails" [value]="selectedMaterialDetails.code">
                                                {{selectedMaterialDetails.name}}
                                            </option>
                                        </select>
                                    
                                   
                                </div>   
                            </div>
                        </div>
                         </ng-container>
                         <ng-container *ngIf="selectedChangeDetails ==='Lot No.(s)' && displayBasic ===true">
                            <div class="col-lg-12">
                                <div class=" form-group row ">
                                    
                                        <label for="Lot No.(s)" class="col-md-3 col-sm-12 col-form-label">Lot No.(s)</label>
                                        <div class="col-md-6">
                                            <select name="status" class="form-select" (change)="selectBatch($event)">
                                                <option *ngFor="let selectedLotDetails of lotDetails" [value]="selectedLotDetails .code">
                                                    {{selectedLotDetails.name}}
                                                </option>
                                            </select>
                                        
                                       
                                    </div>   
                                </div>
                            </div>
                             </ng-container>
                             <ng-container *ngIf="selectedChangeDetails ==='Equipment' && displayBasic ===true">
                                <div class="col-lg-12">
                                    <div class=" form-group row ">
                                        
                                            <label for="Equipment" class="col-md-3 col-sm-12 col-form-label">Equipment</label>
                                            <div class="col-md-6">
                                                <select name="status" class="form-select" (change)="selectEquipment($event)">
                                                    <option *ngFor="let selectedEquipmentDetails of equipmentDetails" [value]="selectedEquipmentDetails.code">
                                                        {{selectedEquipmentDetails.name}}
                                                    </option>
                                                </select>
                                            
                                           
                                        </div>   
                                    </div>
                                </div>
                                 </ng-container>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Stage" class="col-md-3 col-sm-12 col-form-label">Stage
                        </label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Stage"
                                placeholder="details">
                                </textarea>
                        </div>
                </div>
            </div>
            <div class="col-lg-12">
            <div class="form-group row">
                <label for="Target Date Of Closure" class="col-md-3 col-sm-12 col-form-label">Target Date Of Closure
                    </label>
                <div class="col-md-6 ">
                    <input class="form-control date-styles" type="date" id="Target Date Of Closure" name="">
                </div>
            </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Deviation Details "
                        class="col-md-3 col-sm-12 col-form-label">Deviation Details
                        
                        Change </label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Deviation Details"
                                placeholder="details">
                                </textarea>
                        </div> 
                  
                </div>
            </div>

        </div>
    </div>



 
    <p-toast></p-toast>
    <div class="d-flex py-2 justify-content-end">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="backToCCClick()">Cancel</button>
        <button type="button" class="btn btn-outline-primary rounded-pill  me-3" (click)="show()">Save as Draft</button>
        <button type="button" class="btn btn-primary rounded-pill me-3" (click)="show()">Save</button>
    </div>
</div>