<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <a class="me-2"> <i class="fa-solid fa-arrow-left back-icon m-l-3" (click)="backToUsers()"></i></a>
    <h4 class="page-title flex-grow-1 labelStyles">
        New User Group
      </h4>
    </div>
    <div class="px-4 py-4">
      <div class="row">
        <div class="col">

          <form [formGroup]="userGroupForm!" (ngSubmit)="regUserGroup()">
            <div class="p-5 bg-white shadow-dark rounded-2">
        <div class="form-group row">
            <label for="userName" class="col-sm-12 col-md-3 col-form-label">User Group Name</label>
            <div class="col-sm-10 col-md-4">
                <input class="form-control" rows="4" id="userName" placeholder="Group Name" />


            </div>
        </div>
        <div class="form-group row">
            <label for="userId" class="col-sm-12 col-md-3 col-form-label">Unique Code</label>
            <div class="col-sm-10 col-md-4">
                <input class="form-control" rows="4" id="userId" placeholder="Unique Code"/>


            </div>
        </div>
        <div class="form-group row py-4">
            <p-pickList class="pick-width" [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available User(s)" targetHeader="Selected User(s)" [dragdrop]="true" [responsive]="true"
                [sourceStyle]="{ height: '15rem' }" [targetStyle]="{ height: '15rem' }" breakpoint="750px">
                <ng-template let-product pTemplate="item">
                    <div class="flex flex-wrap p-2 align-items-center gap-3 ">
                        <div class="flex-1 flex flex-column gap-2">
                            <span class="font-bold">{{ product.name }}</span>
                         
                        </div>
                       
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        

       
        <div class="form-group row mt-3">
            <label for="remarks" class="col-sm-12 col-md-3 col-form-label">Remark(s)/Reason(s)</label>
            <div class="col-sm-10 col-md-4">
                <textarea class="form-control" rows="4" formControlName="remarks"></textarea>


            </div>
        </div>
      

    </div>
</form>
<p-toast></p-toast>

    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="backToUsers()">Cancel</button>
        
        <button type="button" class="btn btn-primary rounded-pill me-2" (click)="regUserGroup()">Submit</button>
    </div>

        </div>
      </div>
    </div>
