<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="30000">
    <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
        <div class="panel-header">
            <div class="d-flex justify-content-between align-items-center w-100 p-2">
                <h5 class="text-white px-3 py-4 m-0">New Action Plan </h5>
                <a class="p-2" (click)="closeNavBar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 16 16">
                        <path
                            d="M7.293 8L3.146 3.854a.5.5 0 1 1 .708-.708L8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708z" />
                    </svg></a>

            </div>
        </div>
        <div class="d-flex flex-column py-3 px-4">
            <div class="form-group row">
                <label for="Plan Type" class="col-md-4 col-form-label">Plan Type</label>
                <div class="col-md-7 drp-styles ">
                
                    <select name="status" formControlName="type" class="form-select" >
                        <option value="" disabled selected>Select an option</option>
                        <option *ngFor="let selectedPlantTypeDetails of plantTypeDetails" [value]="selectedPlantTypeDetails.code">
                            {{selectedPlantTypeDetails.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="Description" class="col-md-4 col-form-label">Description</label>
                <div class="col-md-7">
                    <textarea class="form-control" formControlName="description" rows="4" name="Description" form="usrform">
                    </textarea>
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="In-Charge Department" class="col-md-4 col-form-label">In-Charge Department</label>
                <div class="col-lg-7 drp-styles ">
                    <select name="status" formControlName="departmentId" class="form-select">
                        <option value="" disabled selected>Select an option</option>
                        <option *ngFor="let selectedInchargeDetails of inChargeDepartmentDetails" [value]="selectedInchargeDetails.id">
                            {{selectedInchargeDetails.name}}
                        </option>
                    </select> 
                </div>
            </div>

            <div class="form-group row">
                <label for="Assign to" class="col-md-4 col-form-label">Assign to </label>

                <div class="col-lg-8 d-flex">
                    <div class="me-3">
                        <input type="radio" formControlName="assignTo" id="usergroup" name="assignTo" value="userGroup" class="form-check-input user-group-radio-btn" >
                        <label class="p-2 " for="usergroup">User Group</label>
                    </div>
                    <div class="">
                        <input type="radio" formControlName="assignTo" class="form-check-input user-group-radio-btn" id="user" name="assignTo" value="user">
                        <label class="p-2 " for="user">User</label>
                    </div>
                </div>
            </div>
            <div class="form-group row" *ngIf="mainForm.get('assignTo').value === 'userGroup'">
                <label for="Select User Group" class="col-md-4 col-form-label">Select User Group</label>
                <div class="col-lg-7">
                    <select name="status" formControlName="assignedUserGroup" class="form-select">
                        <option value="0" disabled selected>Select a user group</option>
                        <option *ngFor="let selectedUserGroupDetails of userGroupDetails" [value]="selectedUserGroupDetails.id">
                            {{selectedUserGroupDetails.name}}
                        </option>
                    </select> 
                </div>
            </div>
            <div class="form-group row" *ngIf="mainForm.get('assignTo').value === 'user'">
                <label for="Select User" class="col-md-4 col-form-label">Select User</label>
                <div class="col-lg-7">
                    <select name="status" formControlName="assignedUser" class="form-select">
                        <option value="0" disabled selected>Select a user</option>
                        <option *ngFor="let selectedUserDetails of usersDetails" [value]="selectedUserDetails.id">
                            {{selectedUserDetails.firstName}}
                        </option>
                    </select> 
                </div>
            </div>
                        
            <div class="form-group row">
                <label for="targetDate" class="col-md-4 col-form-label">Target Date</label>
                <div class="col-lg-7">
                    <input type="date" formControlName="targetDate" class="form-control" id="targetDate" name="" [(ngModel)]="selectedDate"
                        placeholder="10/11/2024" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Review" class="col-md-4 col-form-label">Review/Remarks</label>
                <div class="col-lg-7  border-styles">
                    <textarea rows="4" formControlName="remarks" class="form-control" name="comment" form="usrform"></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button type="button" (click)="closeNavBar()" class="btn btn-outline-primary rounded-pill me-3">Cancel</button>
            <button type="button" (click)="onSubmit(true)" class="btn btn-outline-primary rounded-pill me-3">Save & Add New</button>
            <button type="submit" class="btn btn-primary rounded-pill me-2">Save</button>
        </div>
    </form>
</p-sidebar>