<div class="container-fluid">
  <div class="p-2 ">

    <div class="d-flex flex-column mt-2" id="home" *ngIf="selectedSection === 'home'">
      <div class="breadcrumb-nav d-flex w-100">
        <h5 class="px-2 py-2"><span>Home</span></h5>
      </div>
      <div class="d-flex flex-wrap flex-row mt-2">
        <div *ngFor="let item of currentItems ">
          <div class="card" (click)="navItemClick(item)">
            <div class="card-body">
              <i class="{{ item.iconClass }}" aria-hidden="true"></i>
              <h5 class="card-title" [routerLink]="item.path">{{item.label}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <nav class="nav">
  <ul class="navbar-nav flex-column py-2">
    <li *ngFor="let item of navItems">
      <a class="nav-link nav-link-tagline"> 
        
        <label>{{ item.label }}</label>
      </a>
      <ul class="p-0 ">
        <li *ngFor="let child of item.children">
          <a class="nav-link" [routerLink]="child.path" (click)="toggleMenu(child)">
            <i class="{{ child.iconClass }}"></i>
            <label>{{ child.label }}</label>
            <i class="fas fa-angle-down" *ngIf="child.children && child.isOpen"></i>
            <i class="fas fa-angle-right" *ngIf="child.children && !child.isOpen"></i>
          </a>
          <ul class="list-dashed" *ngIf="child.children && child.isOpen">
            <li *ngFor="let subChild of child.children">
              <a class="nav-link" [routerLink]="subChild.path" (click)="toggleMenu(child)">
                <i class="{{ subChild.iconClass }}"></i>
                {{ subChild.label }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav> -->
