
<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <h4 class="page-title flex-grow-1 labelStyles">User Groups</h4>
    <button type="button" class="btn btn-create rounded-pill initiative " (click)="goToNewUser()">+ Add
        User Group</button>
</div>
<div class="gx-15">
    <div class="container-fluid mb-5">

        <div class="row">
            <div class="col mt-2 table-landing ">
                    <p-table #dt dataKey="id" [value]="userGroupDatasource" [paginator]="true" [rows]="10"
                        [showCurrentPageReport]="true" [totalRecords]="userGroupDatasource.length"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [globalFilterFields]="['name', 'code',  'createdBy','createdDate']"

                        tableStyleClass="table table-striped">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-end">
                                <span class="p-input-icon-left ml-auto search-block">
                                    <i class="fa fa-search search-icon"></i>
                                    <input pInputText type="text" class="form-control rounded-pill search-text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:40px" class="lh-lg">S.No</th>
                                <th pSortableColumn="name">User Group Name<p-columnFilter type="text" field="name" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="code">Unique ID
                                    <p-sortIcon field="code"></p-sortIcon>
                                    <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
                                </th>
                                <th pSortableColumn="createdBy">Initiated By <p-columnFilter type="text" field="createdBy" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="createdDate">Initiated On <p-columnFilter type="date" field="createdDate" display="menu"></p-columnFilter> </th>
                                <th class="text-center">Actions</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-userGroup let-i="rowIndex" #templatesTable>
                            <tr>
                                <td>{{i+1}}</td>
                                <!-- <td>{{userGroup?.id}}</td> -->
                                <td>{{userGroup?.name}}</td>
                                <td class="idname">{{userGroup?.code}}</td>
                                <td>{{userGroup?.createdBy}}</td>
                                <td>{{userGroup.createdDate | date: 'MM/dd/yyyy'}}</td>
                                <!-- <td>{{userGroup?.roles}}</td> -->
                             
                                <td class="text-center">
                                    
                                        <a class="me-2">
                                            <i class="bi bi-pencil-square"  (click)="navigateToEditUsergroup(userGroup?.id)"></i>
                                            </a>
                                            
                                </td>
                            </tr>

                        </ng-template>
                    </p-table>

                
            </div>
        </div>

    </div>
</div>
