<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <h4 class="page-title flex-grow-1 labelStyles">Roles</h4>
    <button type="button" class="btn btn-create rounded-pill initiative " (click)="newRoleClick()">+ New
        Role</button>
</div>
<div class="gx-15">
    <div class="container-fluid mb-5">

        <div class="row">
            <div class="col mt-2 table-landing ">


                <p-table #dt dataKey="id" [value]="newRoleDataSource" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
                    [globalFilterFields]="['name','description', 'createdBy','createdDate']" tableStyleClass="table table-striped">
                    <ng-template pTemplate="caption">
                        <div class="d-flex justify-content-end">
                            <span class="p-input-icon-left ml-auto search-block">
                                <i class="fa fa-search search-icon"></i>
                                <input pInputText type="text" class="form-control rounded-pill search-text"
                                    (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:100px;" class="lh-lg">S.No</th>

                            <th pSortableColumn="name" style="width:30%">Name<p-columnFilter type="text"
                                field="name" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="description" style="width:30%">Description<p-columnFilter type="text"
                                    field="description" display="menu"></p-columnFilter></th>
                                    <th pSortableColumn="createdBy" style="width:30%">Created By <p-columnFilter
                                        type="text" field="createdBy" display="menu"></p-columnFilter></th>
                                        <th pSortableColumn="createdDate" style="width:30%">Created On <p-columnFilter
                                            type="date" field="createdDate" display="menu"></p-columnFilter> </th>

                            <th class="text-center">Actions</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-newRole let-i="rowIndex" #templatesTable>
                        <tr>
                            <td>{{i+1}}</td>

                            <td>{{newRole.name}}</td>
                            <td>{{newRole.description}}</td>
                            <td>{{newRole.createdBy}}</td>
                            <td>{{newRole.createdDate | date: 'MM/dd/yyyy'}}</td>

                            <td class="text-center">
                                <div class="ellipsis-menu">
                                    <a class="me-2">
                                        <i class="bi bi-pencil-square"></i>
                                        </a>
                                    <!-- <a><i class="bi bi-person-fill-gear" (click)="goToSetFunctionalProfile()"></i></a> -->


                                </div>
                            </td>
                        </tr>

                    </ng-template>
                </p-table>


            </div>
        </div>

    </div>
</div>
<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="30000">
    <div class="panel-header">
        <div class="d-flex justify-content-between align-items-center w-100 p-2">
            <h5 class="text-white px-3 py-4 m-0">New Role </h5>
            <a class="p-2" (click)="closeNavBar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 16 16">
                    <path
                        d="M7.293 8L3.146 3.854a.5.5 0 1 1 .708-.708L8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708z" />
                </svg></a>

        </div>
    </div>
    <form [formGroup]="newRoleForm!" (ngSubmit)="regNewRole()">
    <div class="d-flex flex-column py-3 px-4">
        <div class="form-group row">
            <label for="newRole" class="col-md-4 col-form-label">New Role</label>
            <div class="col-md-7">
                <input class="form-control" rows="4" name="newRole" formControlName="newRole" />


            </div>
        </div>


        <div class="form-group row">
            <label for="description" class="col-md-4 col-form-label">Description</label>
            <div class="col-md-7">
                <textarea class="form-control" rows="4" name="Description" formControlName="description">
                  </textarea>

            </div>
        </div>

    </div>
    </form>
    <p-toast></p-toast>
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="closeNavBar()">Cancel</button>
       
        <button type="button" class="btn btn-primary rounded-pill me-2" (click)="regNewRole()">Submit</button>
    </div>
</p-sidebar>