<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <a class="me-2" (click)="backToCCClick()">
        <i class="fa-solid fa-arrow-left back-icon m-l-3"></i></a>
    <h4 class="page-title flex-grow-1 labelStyles">Change Control Login New Initiations</h4>
</div>

<div class="px-4 py-4">

    <!-- Request Details-->
    <div class="p-3 bg-white shadow-dark rounded-2 mb-3">
        <!-- *ngIf="labelText ==='Request Details'" -->
        <h5 class="page-card-title border-bottom">Request Details</h5>
        <div class="p-3 row">
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Reference " class="col-sm-12 col-md-3 col-form-label">Reference </label>

                    <div class="col-md-6 d-flex radio-styles">
                        <div class=""><input type="radio" class="form-check-input external-radio-btn" id="External" name="reference" value="External" checked
                            (change)="selectRef($event)">
                            <label class="p-2" for="External">External</label>
                        </div>
                        <div class="rd-styles ms-4"> <input type="radio" class="form-check-input internal-radio-btn" id="Internal" name="reference" value="Internal" (change)="selectRef($event)">
                            <label class="p-2" for="Internal">Internal</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row" *ngIf="internalFlag">
                    <label for="Internal Reference" class=" col-sm-12 col-md-3 col-form-label">Quality Events</label>
                    <div class="col-md-6 drp-styles ">
                        <select name="status" class="form-select" (change)="selectInternalDetails($event)">
                            <option *ngFor="let selectedInternalDetails of internalDetails" [value]="selectedInternalDetails.code">
                                {{selectedInternalDetails.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" *ngIf="externalFlag">
                <div class="form-group row">
                    <label for="External Reference" class="col-md-3 col-sm-12 col-form-label">External
                        Reference</label>
                    <div class="col-md-6  ">
                        <textarea rows="3" class="form-control" name="comment" form="usrform"
                            placeholder="Enter text here..."></textarea>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Initiating Department" class="col-md-3 col-sm-12 col-form-label">Initiating
                        Department</label>
                    <div class="col-md-6 ">
                        <input type="text" class="form-control input-width" id="Initiating Department"
                            name="Initiating Department" placeholder="Quality Control" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Type of Change " class="col-md-3 col-sm-12 col-form-label">Type of Change </label>

                    <div class="col-md-6 d-flex radio-styles">
                        <div class=""><input type="radio" id="Permanent" name="typeOfChange" value="Permanent" checked
                            (change)="selectTypeOfChange($event)" class="form-check-input external-radio-btn">
                            <label class="p-2" for="Permanent">Permanent</label>
                        </div>
                        <div class="rd-styles ms-4"> <input type="radio" id="Temporary" name="typeOfChange" value="Temporary"
                            (change)="selectTypeOfChange($event)" class="form-check-input external-radio-btn">
                            <label class="p-2" for="Temporary">Temporary</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" *ngIf="tempRadioBtnFlag">
                <div class="form-group row">
                    <label for="Batch no" class="col-md-3 col-sm-12 col-form-label">
                        Batch No./Lot No.</label>
                        <div class="col-md-6 ">
                        <select name="status" class="form-select" (change)="selectedBatchDetails($event)">
                            <option *ngFor="let selectedBatchDetails of batchDetails" [value]="selectedBatchDetails.code">
                                {{selectedBatchDetails.name}}
                            </option>
                        </select>
                        </div>
                </div>
            </div>
            <div class="col-lg-12" *ngIf="tempRadioBtnFlag">
                <div class="form-group row">
                    <label for="Batch no" class="col-md-3 col-sm-12 col-form-label">
                        Batch No./Lot Details.</label>
                        <div class="col-md-6  ">
                            <textarea rows="3" class="form-control" name="comment" form="usrform"
                                placeholder="Enter text here..."></textarea>
                        </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Date of Initiation" class="col-md-3 col-sm-12 col-form-label">Date of
                        Initiation</label>
                    <div class="col-md-6 ">
                        <input type="text" class="form-control input-width" id="Date of Initiation"
                            name="Date of Initiation" placeholder="19/03/24" readonly />
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Target Date of Closure" class="col-md-3 col-sm-12 col-form-label">Target Date of
                        Closure</label>
                    <div class="col-md-6 ">
                        <input class="form-control date-styles" type="date" id="Target Date of Closure" name="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Market" class="col-sm-12 col-md-3 col-form-label">Market</label>
                    <div class="col-md-6">
                        
                        <select name="status" class="form-select" (change)="selectMarket($event)">
                            <option *ngFor="let selectedMarketDetails of marketDetails" [value]="selectedMarketDetails.code">
                                {{selectedMarketDetails.name}} -  {{selectedMarketDetails.code}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Customer" class="col-sm-4 col-md-3 col-form-label">Customer</label>
                    <div class="col-md-6">
                        <select name="status" class="form-select" (change)="selectCustomer($event)">
                            <option *ngFor="let selectedCustomerDetails of customerDetails" [value]="selectedCustomerDetails.code">
                                {{selectedCustomerDetails.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Change Details-->

    <!-- *ngIf="labelText ==='Request Details'" -->


    <div class="p-3 bg-white shadow-dark rounded-2 mb-3">
        <!-- *ngIf="labelText ==='Change Details'" -->
        <h5 class="page-card-title border-bottom">Change Details</h5>
        <div class="p-3 row">
            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Changes Related To" class="col-sm-3 col-form-label">Changes Related To</label>
                    <div class="col-md-6">
                        <select name="status" class="form-select" (change)="selectionDetails($event)">
                            <option *ngFor="let selectedChangeDetails of changeDetails" [value]="selectedChangeDetails.code">
                                {{selectedChangeDetails.name}}
                            </option>
                        </select>
                       
                    </div>
                </div>
            </div>
            <ng-container *ngIf="selectedChangeDetails ==='Material'">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Material" class="col-sm-3 col-form-label">Material</label>
                        <div class="col-md-6 ">
                            <select name="status" class="form-select" (change)="selectMaterials($event)">
                                <option *ngFor="let selectedMaterialDetails of materialDetails" [value]="selectedMaterialDetails.code">
                                    {{selectedMaterialDetails.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Equipment' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Equipment" class="col-sm-3 col-form-label">Equipment</label>
                        <div class="col-md-6 ">
                            <select name="status" class="form-select" (change)="selectEquipments($event)">
                                <option *ngFor="let selectedEquipmentDetails of equipmentDetails" [value]="selectedEquipmentDetails.code">
                                    {{selectedEquipmentDetails.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Document' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Document" class="col-sm-3 col-form-label">Document</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="documentDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Facility/Utility' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Facility/Utility" class="col-sm-3 col-form-label">Facility/Utility</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="facilityDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Validation' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Validation" class="col-sm-3 col-form-label">Validation</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="validationDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Packing' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Packing" class="col-sm-3 col-form-label">Packing</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="packingDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Software' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Software" class="col-sm-3 col-form-label">Software</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="softwareDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Testing' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Testing" class="col-sm-3 col-form-label">Testing</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="testingDetails"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Supplier/Service Provider' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Supplier/Service Provider" class="col-sm-3 col-form-label">Supplier/Service
                            Provider</label>
                            <div class="col-md-6 ">
                                <textarea class="form-control input-width" name="supplierDetails"
                                    placeholder="Enter Details">
                                    </textarea>
                            </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='Others' && displayBasic ===true">
                <div class="material-container">
                    <div class="form-group row">
                        <label for="Others" class="col-sm-3 col-form-label">Others</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Existing Procedure"
                                placeholder="Enter Details">
                                </textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedChangeDetails ==='New Product & Existing Product' && displayBasic ===true">
                <div class="col-lg-12">
                    <div class=" form-group row mb-3">
                        <div class="col-lg-12 d-flex">
                            <label for="Market" class="col-sm-3 col-form-label">Products</label>
                            <div class="col-md-6">
                                <select name="status" class="form-select" (change)="selectProducts($event)">
                                    <option *ngFor="let selectedProoductedDetails of productDetails" [value]="selectedProoductedDetails.code">
                                        {{selectedProoductedDetails.name}}
                                    </option>
                                </select>
                            </div>
                           
                        </div>   
                    </div>
                </div>
                <div class="form-group row col-lg-10">
                    <label for="Element Impurities Assesment" class="col-sm-12 col-md-4 col-form-label">Element Impurities Assesment </label>

                    <div class="col-md-6 d-flex radio-styles">
                        <div class=""><input type="radio" class="form-check-input external-radio-btn" id="yes" name="impurityAssesment" value="yes" checked
                            (change)="selectImpurity($event)">
                            <label class="p-2" for="Yes">Yes</label>
                        </div>
                        <div class="rd-styles ms-4"> <input type="radio" class="form-check-input internal-radio-btn" id="no" name="impurityAssesment" value="no"
                            (change)="selectImpurity($event)">
                            <label class="p-2" for="No">No</label>
                        </div>
                    </div>
                    <ng-container *ngIf="impurityReason">
                        <div class="form-group row mt-3">
                            <label for="impurityReason" class="col-md-4 col-sm-12 col-form-label">
                                Reason</label>
                            <div class="col-md-6  ">
                                <textarea rows="3" class="form-control" name="impurityReason" form="usrform"
                                    placeholder="Enter text here..."></textarea>
                            </div>
                        </div>
                    
                    </ng-container>
                </div>

                <div class="form-group row col-lg-10">
                    <label for="Nitrosamine Impurities Assesment" class="col-sm-12 col-md-4 col-form-label">Nitrosamine Impurities Assesment </label>

                    <div class="col-md-6 d-flex radio-styles">
                        <div class=""><input type="radio" class="form-check-input external-radio-btn" id="yes" name="nitrosamineAssesment" value="yes" checked
                            (change)="selectNitrosamine($event)">
                            <label class="p-2" for="Yes">Yes</label>
                        </div>
                        <div class="rd-styles ms-4"> <input type="radio" class="form-check-input internal-radio-btn" id="no" name="nitrosamineAssesment" value="no" 
                            (change)="selectNitrosamine($event)">
                            <label class="p-2" for="No">No</label>
                        </div>
                    </div>
                    <ng-container *ngIf="nitrosamineReason">
                        <div class="form-group row mt-3">
                            <label for="nitrosamineReason" class="col-md-4 col-sm-12 col-form-label">
                                Reason</label>
                            <div class="col-md-6  ">
                                <textarea rows="3" class="form-control" name="nitrosamineReason" form="usrform"
                                    placeholder="Enter text here..."></textarea>
                            </div>
                        </div>
                    
                    </ng-container>
                </div>

                <div class="form-group row col-lg-10">
                    <label for="Genotoxic Impurities Assesment" class="col-sm-12 col-md-4 col-form-label">Genotoxic Impurities Assesment</label>

                    <div class="col-md-6 d-flex radio-styles">
                        <div class=""><input type="radio" class="form-check-input external-radio-btn" id="yes" name="genotoxicAssesment" value="yes" checked
                            (change)="selectGenotoxic($event)">
                            <label class="p-2" for="Yes">Yes</label>
                        </div>
                        <div class="rd-styles ms-4"> <input type="radio" class="form-check-input internal-radio-btn" 
                            id="no" name="genotoxicAssesment" value="no" (change)="selectGenotoxic($event)">
                            <label class="p-2" for="No">No</label>
                        </div>
                    </div>
                    <ng-container *ngIf="genatoxicReason">
                        <div class="form-group row mt-3">
                            <label for="genatoxicReason" class="col-md-4 col-sm-12 col-form-label">
                                Reason</label>
                            <div class="col-md-6  ">
                                <textarea rows="3" class="form-control" name="genatoxicReason" form="usrform"
                                    placeholder="Enter text here..."></textarea>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Existing Procedure" class="col-md-3 col-sm-12 col-form-label">Existing
                        Procedure</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Existing Procedure"
                                placeholder="details">
                                </textarea>
                        </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Proposed Change" class="col-md-3 col-sm-12 col-form-label">Proposed
                        Change</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Proposed Change"
                                placeholder="details">
                                </textarea>
                        </div>  
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group row">
                    <label for="Justification for Proposed Change "
                        class="col-md-3 col-sm-12 col-form-label">Justification
                        for Proposed
                        Change </label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Justification for Proposed Change"
                                placeholder="details">
                                </textarea>
                        </div> 
                  
                </div>
            </div>

        </div>
    </div>

    <!--Impact AssessMent Details-->

    <div class="p-3 bg-white shadow-dark rounded-2 mb-3">
        <!-- *ngIf="labelText ==='Assessment Details'" -->
        <h5 class="page-card-title border-bottom">Impact Assesessment Details</h5>
        <div class="p-3 row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label for="Change Impact " class="col-md-4 col-sm-12 col-form-label">Does the Change Impact
                        Product/Material
                        Quality
                    </label>


                    <div class="col-lg-6 d-flex radio-styles ">
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" id="yes" name="radiobtn" value="yes" checked  (change)="selectChangeImpact($event)">
                            <label class="form-check-label" for="yes">yes</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="radio" id="No" name="radiobtn" value="No"  (change)="selectChangeImpact($event)">
                            <label class="form-check-label" for="No">No</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="radio" id="notApplicable" name="radiobtn" value="Not Applicable"  (change)="selectChangeImpact($event)">
                            <label class="form-check-label" for="notApplicable">Not Applicable</label>
                        </div>
                    </div>
                    <ng-container *ngIf="changeImpactProductdetails">
                        <div class="form-group row mt-3">
                            <label for="Impact Product/Materials" class="col-md-4 col-sm-12 col-form-label">Impact Product/Materials</label>
                            <div class="col-md-6 drp-styles ">
                                <select name="status" class="form-select" (change)="selectInternalDetails($event)">
                                    <option *ngFor="let selectedImpactDetails of impactDetails" [value]="selectedImpactDetails.code">
                                        {{selectedImpactDetails.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
          <div class="col-md-12">
                <div class="form-group row">
                    <label for="Procedures Impact " class="col-md-4 col-sm-12 col-form-label">Are any Procedures
                        Impacted </label>

                    <div class="col-lg-6 d-flex radio-styles ">
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" id="yes" name="Procedures" value="yes" checked (change)="selectImpactProcedures($event)">
                            <label class="form-check-label" for="yes">yes</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="radio" id="No" name="Procedures" value="No" (change)="selectImpactProcedures($event)">
                            <label class="form-check-label" for="yes">No</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="radio" id="na" name="Procedures" value="Not Applicable" (change)="selectImpactProcedures($event)">
                            <label class="form-check-label" for="yes">Not Applicable</label>
                        </div>
                    </div>
                </div>
               <ng-container *ngIf="changeImpactProcedure"> <div class="col-lg-12">
                    <div class="form-group row">
                        <label for="Impacted Procedures" class="col-md-4 col-sm-12 col-form-label">
                            Impacted Procedures</label>
                        <div class="col-md-6 ">
                            <textarea class="form-control input-width" name="Impact Procedures"
                                placeholder="Impacted Procedures">
                                    </textarea>
                        </div>
                    </div>
                </div>
               </ng-container>
            </div>
           
            <div class="col-lg-12 ">
                <div class="form-group row">
                    <label for="Comments" class="col-md-4 col-sm-12 col-form-label">Comments</label>
                    <div class="col-md-6 ">
                        <textarea class="form-control input-width" name="comment" form="usrform"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-toast></p-toast>
    <div class="d-flex py-2 justify-content-end">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="backToCCClick()">Cancel</button>
        <button type="button" class="btn btn-outline-primary rounded-pill  me-3" (click)="show()">Save as Draft</button>
        <button type="button" class="btn btn-primary rounded-pill me-3" (click)="show()">Save</button>
    </div>
</div>