<div class="container-fluid">
  <div class="p-2 ">

    <div class="d-flex flex-column mt-2" id="home" *ngIf="selectedSection === 'home'">
      <div class="breadcrumb-nav d-flex w-100">
        <h5 class="px-2 py-2"><span>Home</span></h5>
      </div>
      <div class="d-flex">
        <div class="card" (click)="selectSection('qma')">
          <div class="card-body">
            <!-- <i class="fa fa-shield"></i> -->
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor" stroke-linejoin="round"
                  d="M4 7.5L7 10l4-5M7.5.5l-7 4v.72a9.651 9.651 0 0 0 7 9.28a9.651 9.651 0 0 0 7-9.28V4.5z" />
              </svg>
            </i>
            <h5 class="card-title">QM Activities</h5>
          </div>
        </div>

        <div class="card" (click)="selectSection('systemManager')">
          <div class="card-body">
            <i class="fa fa-cogs"></i>
            <h5 class="card-title">System Manager</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column mt-2" id="qmActivities" *ngIf="selectedSection === 'qma'">
      <div class="breadcrumb-nav d-flex w-100">
        <h5 class="px-2 py-2"><a class="text-uppercase" (click)="selectSection('home')">Home</a> <i
            class="bi bi-chevron-right"></i> <span class="text-uppercase">QM Activities</span></h5>
      </div>
      <div class="d-flex  flex-wrap">

        <div class="card" (click)="selectSection('cc')">
          <div class="card-body">
            <!-- <i class="fa fa-shield"></i> -->
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor" stroke-linejoin="round"
                  d="M4 7.5L7 10l4-5M7.5.5l-7 4v.72a9.651 9.651 0 0 0 7 9.28a9.651 9.651 0 0 0 7-9.28V4.5z" />
              </svg>
            </i>
            <h5 class="card-title">Change Controlls</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('dashboard')">
          <div class="card-body">
            <i class="fa fa-bolt"></i>
            <h5 class="card-title">Deviations</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="fa fa-cogs"></i>
            <h5 class="card-title">Corrective & <br> Preventive Actions</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="fa fa-cogs"></i>
            <h5 class="card-title">Market Complaints</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="fa fa-cogs"></i>
            <h5 class="card-title">Incidents</h5>
          </div>
        </div>
      </div>
    </div>


    <div class="d-flex flex-column mt-2" id="qmActivities" *ngIf="selectedSection === 'cc'">
      <div class="breadcrumb-nav d-flex w-100">
        <h5 class="px-2 py-2"><a (click)="selectSection('home')">Home</a> <i class="bi bi-chevron-right"></i> <a
            (click)="selectSection('qma')">QM Activities</a> <i class="bi bi-chevron-right"></i> <span>Change
            Controls</span></h5>
      </div>
      <div class="d-flex flex-wrap">

        <div class="card" (click)="navigateTo('changeControls')">
          <div class="card-body">
            <!-- <i class="fa fa-shield"></i> -->
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor" stroke-linejoin="round"
                  d="M4 7.5L7 10l4-5M7.5.5l-7 4v.72a9.651 9.651 0 0 0 7 9.28a9.651 9.651 0 0 0 7-9.28V4.5z" />
              </svg>
            </i>
            <h5 class="card-title">Change Controlls</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('workItems')">
          <div class="card-body">
            <i class="bi bi-card-list"></i>
            <h5 class="card-title">Action Plans</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="bi bi-printer"></i>
            <h5 class="card-title">Dossier Print</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="fa fa-cogs"></i>
            <h5 class="card-title">Audit Trails</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="bi bi-bar-chart-line"></i>
            <h5 class="card-title">Reports</h5>
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex flex-column mt-2" id="deviations" *ngIf="selectedSection === 'deviations'">
      <div class="breadcrumb-nav d-flex w-100">
        <h5 class="px-2 py-2"><a (click)="selectSection('home')">Home</a> <i class="bi bi-chevron-right"></i> <a
            (click)="selectSection('qma')">QM Activities</a> <i class="bi bi-chevron-right"></i> <span>Change
            Controls</span></h5>
      </div>
      <div class="d-flex flex-wrap">

        <div class="card" (click)="navigateTo('changeControls')">
          <div class="card-body">
            <!-- <i class="fa fa-shield"></i> -->
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                <path fill="none" stroke="currentColor" stroke-linejoin="round"
                  d="M4 7.5L7 10l4-5M7.5.5l-7 4v.72a9.651 9.651 0 0 0 7 9.28a9.651 9.651 0 0 0 7-9.28V4.5z" />
              </svg>
            </i>
            <h5 class="card-title">Change Controlls</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('workItems')">
          <div class="card-body">
            <i class="bi bi-card-list"></i>
            <h5 class="card-title">Action Plans</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="bi bi-printer"></i>
            <h5 class="card-title">Dossier Print</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="fa fa-cogs"></i>
            <h5 class="card-title">Audit Trails</h5>
          </div>
        </div>

        <div class="card" (click)="navigateTo('document-master')">
          <div class="card-body">
            <i class="bi bi-bar-chart-line"></i>
            <h5 class="card-title">Reports</h5>
          </div>
        </div>

      </div>
    </div>



    <div class="d-flex flex-column mt-2" id="systemManager" *ngIf="selectedSection === 'systemManager'">
      <div class="breadcrumb-nav d-flex w-100">
        <h5 class="px-2 py-2"><a (click)="selectSection('home')">Home</a> <i class="bi bi-chevron-right"></i>
          <span>System Manager</span></h5>
      </div>
      <div class="d-flex flex-wrap">

        <div class="card" [routerLink]="['/roles']">
          <div class="card-body">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <h5 class="card-title">Roles</h5>
          </div>
        </div>


        <div class="card" [routerLink]="['/users']">
          <div class="card-body">
            <i class="bi bi-person" aria-hidden="true"></i>
            <h5 class="card-title">Users</h5>
          </div>
        </div>

        <div class="card"  [routerLink]="['/user-groups']">
          <div class="card-body">
            <i class="fa fa-users"></i>
            <h5 class="card-title">User Groups</h5>
          </div>
        </div>

        <div class="card"  [routerLink]="['/plants']">
          <div class="card-body">
            <i class="fa fa-industry" aria-hidden="true"></i>
            <h5 class="card-title">Plants</h5>
          </div>
        </div>

       
        <div class="card" [routerLink]="['/products-materials']">
          <div class="card-body">
            <i class="bi bi-joystick"></i>
            <h5 class="card-title">Product/Materials</h5>
          </div>
        </div>

        <div class="card" [routerLink]="['/batch-lot-particulars']">
          <div class="card-body">
            <i class="bi bi-files"></i>
            <h5 class="card-title">Batch/Lot Particulars</h5>
          </div>
        </div>

        <div class="card" [routerLink]="['/equipment-registration']">
          <div class="card-body">
            <i class="bi bi-gear-wide-connected"></i>
            <h5 class="card-title">Equipment Registration</h5>
          </div>
        </div>

        <div class="card" [routerLink]="['/market-registration']">
          <div class="card-body">
            <i class="bi bi-minecart-loaded"></i>
            <h5 class="card-title">Market Registration</h5>
          </div>
        </div>

        <div class="card" [routerLink]="['/customer-registration']">
          <div class="card-body">
            <i class="bi bi-person-raised-hand"></i>
            <h5 class="card-title">Customer Registration</h5>
          </div>
        </div>

        <div class="card" [routerLink]="['/security-settings']">
          <div class="card-body">
            <!-- <i class="fa fa-shield"></i> -->
            <i class="fa fa-shield" aria-hidden="true"></i>
            <h5 class="card-title">Security Settings</h5>
          </div>
        </div>


        <div class="card" [routerLink]="['/plants']">
          <div class="card-body">
            <i class="bi bi-diagram-3"></i>
            <h5 class="card-title">Audit Trails</h5>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>