<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <h4 class="page-title flex-grow-1 labelStyles">Batch/Lot Particulars Details </h4>
    <button type="button" class="btn btn-create rounded-pill initiative " (click)="Initiation()">+ New
        Initiative</button>
</div>
<div class="gx-15">
    <div class="container-fluid mb-5">

        <div class="row">
            <div class="col mt-2 table-landing ">
                
                    <!-- px-4 pt-2 bg-white shadow-dark rounded-2 -->
                    <p-table #dt dataKey="id" [value]="batchLotDatasource" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
                        [globalFilterFields]="['batchId', 'productMaterial','arno', 'initiatedBy']"

                        tableStyleClass="table table-striped">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-end">
                                <span class="p-input-icon-left ml-auto search-block">
                                    <i class="fa fa-search search-icon"></i>
                                    <input pInputText type="text" class="form-control rounded-pill search-text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:40px" class="lh-lg">S.No</th>
                                <th pSortableColumn="batchId" style="width:20%">Batch No./Lot No.                                    
                                    <p-columnFilter type="text" field="batchId" display="menu"></p-columnFilter>
                                    </th>
                                <th pSortableColumn="productMaterial" style="width:20%">Product/Material <p-columnFilter type="text" field="productMaterial" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="arno">A.R.No. <p-columnFilter type="text" field="arno" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="initiatedBy">Initiated By<p-columnFilter type="text" field="initiatedBy" display="menu"></p-columnFilter> </th>
                                <th pSortableColumn="initiatedOn">Initiated On<p-columnFilter type="date" field="date" display="menu"></p-columnFilter> </th>                              
                                <th pSortableColumn="Actions" style="width:10%">Actions <p-columnFilter type="text" field="Actions" display="menu"></p-columnFilter> </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-batchLotType let-i="rowIndex" #templatesTable>
                            <tr>
                                <td>{{i+1}}</td>
                                <td>
                                        {{batchLotType.batchId}}</td>
                                <td>{{batchLotType.productMaterial}}</td>
                                <td>{{batchLotType.arno}}</td>
                                <td>{{batchLotType.initiatedBy}}</td>
                                <td>{{batchLotType.initiatedOn | date: 'MM/dd/yyyy'}}</td>
                                
                                <td class="text-center">                                    
                                    <a class="me-2">
                                        <i class="bi bi-pencil-square" (click)="navigateToEditEquipment(batchLotType.id)"></i>
                                        </a>
                                    </td>
                               
                            </tr>

                        </ng-template>
                    </p-table>

                
            </div>
        </div>

    </div>
</div>