

<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <h4 class="page-title flex-grow-1 labelStyles">Plants List</h4>
    <button type="button" class="btn btn-create rounded-pill initiative " (click)="visibleSidebar = true">+ Add
        Plant</button>
</div>
<div class="gx-15">
    <div class="container-fluid mb-5">

        <div class="row">
            <div class="col mt-2 table-landing ">
                    <p-table #dt dataKey="id" [value]="plantDatasource" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
                        [globalFilterFields]="['code','name', 'createdBy', 'createdDate']"

                        tableStyleClass="table table-striped">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-end">
                                <span class="p-input-icon-left ml-auto search-block">
                                    <i class="fa fa-search search-icon"></i>
                                    <input pInputText type="text" class="form-control rounded-pill search-text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:40px" class="lh-lg">S.No</th>
                                <th pSortableColumn="code">Plant Code <p-columnFilter type="text" field="code" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="name">Plant Name<p-columnFilter type="text" field="name" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="createdBy">Initiated By <p-columnFilter type="text" field="createdBy" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="createdDate">Initiated On <p-columnFilter type="date" field="createdDate" display="menu"></p-columnFilter> </th>
                                <th class="text-center">Actions</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-plantList let-i="rowIndex" #templatesTable>
                            <tr>
                                <td>{{i+1}}</td>
                                
                                <td class="idname">
                                  {{plantList.code}}</td>
                                  <td>{{plantList.name}}</td>
                                  <td>{{plantList.createdBy}}</td>
                                <td>{{plantList.createdDate}}</td>
                             
                                <td class="text-center">
                                    
                                        <a class="me-2">
                                            <i class="bi bi-pencil-square"(click)="visibleSidebar = true"></i>
                                            </a>
                                        </td>
                            </tr>

                        </ng-template>
                    </p-table>

                
            </div>
        </div>

    </div>
</div>
<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="30000">
    <div class="panel-header">
       
        <div class="d-flex justify-content-between align-items-center w-100 p-2">
            <h5 class="text-white px-3 py-4 m-0">New Plant </h5>
            <a class="p-2" (click)="closeNavBar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 16 16">
                    <path
                        d="M7.293 8L3.146 3.854a.5.5 0 1 1 .708-.708L8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708z" />
                </svg></a>

        </div>
    </div>
    <form [formGroup]="regPlantForm!" (ngSubmit)="regPlant()">
    <div class="d-flex flex-column py-3 px-4">
       
        <div class="form-group row">
            <label for="plantName" class="col-md-4 col-form-label">Plant Name</label>
            <div class="col-md-7">
                <input class="form-control" rows="4" formControlName="plantName" id="plantName" />


            </div>
        </div>
        <div class="form-group row">
            <label for="plantCode" class="col-md-4 col-form-label">Plant Code</label>
            <div class="col-md-7">
                <input class="form-control" rows="4" id="plantCode" formControlName="plantCode"/>


            </div>
        </div>
    
        <div class="form-group row">
            <label for="address" class="col-md-4 col-form-label">Address</label>
            <div class="col-md-7">
                <textarea class="form-control" rows="4"  formControlName="address" ></textarea>


            </div>
        </div>

        <div class="form-group row">
            <label for="comments" class="col-md-4 col-form-label">Comments</label>
            <div class="col-md-7">
                <textarea class="form-control" rows="4"  formControlName="comments" ></textarea>


            </div>
        </div>
    
       


    </div>
</form>
<p-toast></p-toast>

    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="closeNavBar()">Cancel</button>
        
        <button type="button" class="btn btn-primary rounded-pill me-2" (click)="regPlant()">Submit</button>
    </div>
   
</p-sidebar>