@import "theme.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/fonts/fonts.scss";
@import "~primeng/resources/primeng.css";

html {
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  min-height: 100%;
}

body,
p {
  color: $text-color-primary;
}

a {
  text-decoration: none !important;
  color: $link-color;
  font-weight: 500;
  cursor: pointer;
}

label {
  color: $heading-color;
}

.p-component {
  font-family: $font-family;
}

.form-group {
  margin-bottom: 15px;
}

//helper classes

.vh-100 {
  height: 100vh;
}

.bg-contrast {
  background-color: $background-contrast;
}

.gx-15 {
  --gx: 15px;
  padding-left: var(--gx);
  padding-right: var(--gx);
}

.gy-15 {
  --gy: 15px;
  padding-top: var(--gy);
  padding-bottom: var(--gy);
}

.fs-xs {
  font-size: 0.75rem;
}

.search-block {
  min-width: 280px;
  max-width: 320px;
  position: relative;
  display: block;

  .search-text {
    font-size: 0.9rem;
    padding: 8px 15px 8px 40px;
  }

  .search-icon {
    position: absolute;
    top: 18px;
    left: 15px !important;
    color: #555;
  }
}

h4.page-title {
  font-size: 1.2rem;
  color: $heading-color;
  margin: 10px 5px;
  padding: 12px 0;
  font-weight: 500;
}

h5.page-card-title {
  padding: 5px 10px 15px;
  font-size: 1.05rem;
  color: $heading-color;
  margin-bottom: 0;
}

.page-title-actions {
  input {
    min-width: 220px;
  }
}

.table tfoot > tr > th:first-child,
.table thead > tr > th:first-child,
.table tr th:first-child,
.table tr td:first-child {
  padding-left: 1.25rem;
}

.table tfoot > tr > th:last-child,
.table thead > tr > th:last-child,
.table tr th:last-child,
.table tr td:last-child {
  padding-right: 1.25rem;
}

.table {
  margin: 0px;

  thead {
    th {
      color: #323a4d;
      font-weight: 500;
      padding: 12px;
      border-color: #efefef;
      background: #edf2f9;

      .p-icon-wrapper {
        font-size: 13px;

        svg {
          margin-left: 5px;
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  tbody {
    tr {
      background-color: #ffffff;
      box-shadow: none;

      td {
        padding: 12px;
        border-color: #efefef;
        box-shadow: none;
        background-color: transparent;
        color: $text-color-secondary;
      }
    }
  }
}

.table tbody tr:nth-child(even) {
  background-color: #f9fcfe;
}

.form-control,
.form-select {
  padding: 6px 12px;
}
.drop-styles{
  border:none;
}

.shadow-dark {
  // box-shadow: 0 4px 8px 0 rgba(102, 103, 107, 0.1),
  //   0 3px 6px 0 rgba(155, 155, 155, 0.07);
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
}

.content {
  transition: margin 0.3s ease;
  margin-top: 64px;

  &.showNav {
    margin-left: 260px;

    .left-nav {
      transform: translateX(0px);
    }
  }

  .left-nav {
    transform: translateX(-260px);
  }
}

/*status badges */
.status {
  text-transform: uppercase;
  padding: 8px 12px;
  font-size: 11px;
  border-radius: 6px;
  font-weight: 500;
  white-space: nowrap;
}

.status.status-in-progress {
  background-color: #00b0e8;
  color: #ffffff;
}

.status.status-completed {
  background-color: #00b0e8;
  color: #ffffff;
}

.status.status-under-review {
  background-color: #ffd7c0;
  color: #bc5b25;
}

.status.status-pending {
  background-color: #ffd7c0;
  color: #bc5b25;
}

.status.status-approved {
  background-color: #cffad1;
  color: #278225;
}

.status.status-rejected {
  background-color: #e44754;
  color: #ffd7da;
}

.status.status-returned {
  background-color: #f8d56c;
  color: #92773e;
}

.status-dot {
  position: relative;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 20px;
  min-width: 110px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 6px;
    top: 1px;
    background-color: #ccc;
  }
}

.status-dot.status-active{
  color: #4caf50;
  &::before{
    background-color: #4caf50;
  }
}

.status-dot.status-inactive{
  color: #ff5722;
  &::before{
    background-color: #ff5722;
  }
}

/* prime ng css overrides */

.p-paginator .p-dropdown {
  min-width: auto;
}

.p-sidebar-close {
  display: none !important;
}

.p-sidebar-right {
  top: 0;
  right: 0;
  width: 40rem !important;
  height: 100%;
}

.p-sidebar-header,
.p-sidebar-content {
  padding: 0 !important;
}

.p-tabview .p-tabview-panels {
  background-color: $background-color;
}

.p-tabview-nav {
  position: sticky;
}

.p-tabview .p-tabview-nav li {
  padding-right: 10px;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  margin-bottom: 0px;
  padding: 14px;
  border: 0px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-bottom: 2px solid;
}

.p-inputtext,
.p-multiselect .p-multiselect-label,
.p-dropdown .p-dropdown-label,
.p-button.p-button-icon-only {
  padding: 0.375rem 0.75rem;
}

.p-button {
  background: $text-color-primary;
  border: 1px solid $primary-color;

  &:enabled:hover {
    background: $primary-color;
    border: 1px solid $primary-color;
  }
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  margin: 0 2px;
}

.p-multiselect,
.p-dropdown {
  min-width: 250px;
  border-color: #dee2e6;
}

.p-datatable {
  .p-datatable-header {
    background: transparent;
    border: 0;
    padding-right: 0;
  }

  .p-datatable-thead {
    tr {
      th {
        color: $heading-color;
        font-size: 13px;
        font-weight: 500;
        background-color: #ffffff;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .p-datatable-tbody > tr > td {
    white-space: nowrap;
  }

  .p-paginator-bottom {
    border-bottom: 0px;
  }
}

.p-tabview {
  background-color: $background-color !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  font-weight: 400;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.p-tabview .p-tabview-nav {
  border: none;
  padding: 5px 15px 0 15px;
  border-bottom: 1px solid #dddddd;
}

.table-landing {
  .p-datatable-wrapper {
    padding: 15px;
    border-radius: 6px;
    background: #fff;
  }
}

.dossier-table {
  .p-datatable-thead {
    tr {
      th {
        color: $heading-color;
        font-size: 13px;
        font-weight: 500;
        background-color: #ffffff;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: none;
      }
    }
  }
}

.dossier-table {
  .p-datatable-tbody > tr > td {
    white-space: nowrap;
    border: none;
  }
}

.summary-tab {
  .p-tabview {
    .p-tabview-nav {
      background: transparent;
      padding: 0;
      border: 0;

      li .p-tabview-nav-link {
        border: 1px solid #dedbff;
        border-bottom: 0px;
        background: #eae9ff;
        font-weight: 400;

        span {
          color: $heading-color;
        }
      }

      li.p-highlight .p-tabview-nav-link {
        background: #fff;
        font-weight: 500;
      }
    }

    .p-tabview-panels {
      background: #fff;
    }
  }
}

.btn {
  padding: 8px 15px;
}

.btn-primary {
  background: $primary-color;
  border: 2px solid $primary-color;

  &:hover,
  &:focus {
    background: lighten($primary-color, 10%);
    border: 2px solid lighten($primary-color, 10%);
  }
}

.btn-outline-primary {
  border: 2px solid $primary-color;
  color: $primary-color;

  &:hover,
  &:focus {
    background: lighten($primary-color, 10%);
    border: 2px solid lighten($primary-color, 10%);
  }
}

.btn-create {
  /* Base styles */
  background-color: $green;
  /* Green color */
  color: white;
  /* Text color for readability on green background */
  border: none;
  /* Remove default border */
  border-radius: 4px;
  /* Rounded corners */
  padding: 8px 15px;
  /* Adjust padding as needed */
  // font-size: 16px;
  /* Adjust font size as needed */
  text-align: center;
  /* Center text alignment */
  cursor: pointer;
  /* Indicate clickable behavior */

  /* Hover effects */
  &:hover {
    background-color: lighten(green, 1);
    /* Darken green on hover */
    color: #fff;
    /* Maintain white text color */
  }

  /* Active state (optional) */
  &:active {
    background-color: lighten(green, 1) !important;
    color: #fff !important;
    transform: translateY(1px);
  }

  /* Focus state (optional, accessibility) */
  &:focus {
    outline: 2px solid lighten(green, 1);
  }
}

.btn-add {
  width: 30px;
  font-size: 16px;
  height: 30px;
  text-align: center;
  padding: 0;
}

.brd-dashed {
  border: 1px dashed #9f9ad8;
}

.dropdown-item {
  padding: 4px 12px !important;
  color: $primary-color;
  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $white;
  }
}

/* review radio styles */

.reviews .review {
  cursor: pointer;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  .review-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 8px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
    position: relative;

    .review-details {
      span {
        margin-bottom: 0px;
        display: block;
        font-size: 13px;
      }
    }
  }
}

@mixin review-content-styles($state-color) {
  border: 1px solid $state-color !important;
  color: $state-color;

  svg {
    fill: $state-color;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  &:hover {
    background: $state-color;
    color: #ffffff;

    svg {
      fill: #fff;
    }
  }
}

@mixin review-content-selected($state-color) {
  border: 1px solid $state-color;
  background: $state-color;
  color: #ffffff;
}

.approve-review .review-content {
  @include review-content-styles(#70ca6b); // Green for approve
}

.reject-review .review-content {
  @include review-content-styles(#f04438); // Red for reject (example)
}

.return-review .review-content {
  @include review-content-styles(#efc047); // Orange for return (example)
}

.reviews .review.approve-review input[type="radio"]:checked + .review-content {
  @include review-content-selected(#70ca6b);

  svg {
    fill: #fff;
  }
}

.reviews .review.reject-review input[type="radio"]:checked + .review-content {
  @include review-content-selected(#f04438);

  svg {
    fill: #fff;
  }
}

.reviews .review.return-review input[type="radio"]:checked + .review-content {
  @include review-content-selected(#efc047);

  svg {
    fill: #fff;
  }
}

.panel-header {
  background-color: $primary-color;
}

.action-plans-block {
  .action-plans-item {
    background-color: #fff;
    position: relative;
    // overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 6px;
      left: 0;
      top: 0;
      background-color: transparent;
    }

    &.status-open::before {
      background-color: #00b0e8;
    }
    &.status-closed::before {
      background-color: #5d9e5c;
    }
    &.status-inreview::before {
      background-color: #f8d56c;
    }
    &.status-rejected::before {
      background-color: #f76470;
    }
    p {
      font-size: 12px;
      color: $text-color-secondary;
    }

    .user-assigned {
      white-space: nowrap;
      font-size: 12px;
      color: $text-color-secondary;
    }
  }
}

/*activity */
.activity-block {
  .activity-time {
    p {
      width: 140px;
    }
  }

  .activity-items {
    ul {
      list-style: none;
      margin: 0;

      .activity-icon {
        background-color: #dddddd;
        border-radius: 50%;
        text-align: center;
        padding: 3px;
        width: 30px;
        height: 30px;
        margin-right: 2rem;
        align-items: center;
        z-index: 2;
        position: relative;
      }

      .activity-info {
        position: relative;
        padding-bottom: 10px;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: -3rem;
          border: 1px dashed #dddddd;
        }

        .activity-date {
          font-size: 12px;
        }
      }
    }
  }
}
.p-tag{
  border: 2px solid $primary-color;
  color:lighten($primary-color, 10%);
  background: #EAE9FF;
  padding: 8px 15px;

  &:hover {
    background:#4D44B5;
    border:2px solid $primary-color;
    color:#ffffff;
    cursor: pointer;
  }
}

.p-scrollpanel.custombar1 .p-scrollpanel-bar {
  background-color: #ddd;
  opacity: 1;
  transition: background-color .2s;
}


.tag-active{
  .p-tag{
    background:#4D44B5;
    border:2px solid $primary-color;
    color:#ffffff;
    cursor: pointer;
  }
}

.alert-danger{
  padding: 6px;
  font-size: 12px;
}

.input-group-text{
  color: $text-color-primary;
}
