<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <h4 class="page-title flex-grow-1 labelStyles">Change Control Audit Trails</h4>
   
</div>
<div class="gx-15">
    <div class="container-fluid mb-5">


        <div class="row">
            <div class="col mt-2">
                
                    <p-table #dt dataKey="id" [value]="ccAuditDatasource" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
                        [globalFilterFields]="['id', 'department', 'initiatedBy','status']"

                        tableStyleClass="table table-striped">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-end">
                                <span class="p-input-icon-left ml-auto search-block">
                                    <i class="fa fa-search search-icon"></i>
                                    <input pInputText type="text" class="form-control rounded-pill search-text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                                </span>
                            </div>
                            <div>
                                <p-tag class="me-3" value="All Change Controlls" [rounded]="true"(click)="filterData('All Status',1)" [ngClass]="{'tag-active': tab === 1}"></p-tag>
                                <p-tag class="me-3" value="Change Control Login" [rounded]="true" (click)="filterData('In Progress',2)"[ngClass]="{'tag-active': tab === 2}"></p-tag>
                                <p-tag class="me-3" value="Work Exececution" [rounded]="true" (click)="filterData('Approval Pending',3)"[ngClass]="{'tag-active': tab === 3}"></p-tag>
                                <p-tag class="me-3" value="Change Control Closure" [rounded]="true" (click)="filterData('closed',4)"[ngClass]="{'tag-active': tab === 4}"></p-tag>
                                <p-tag class="me-3" value="Extension Of Target Date" [rounded]="true" (click)="filterData('true',5)"[ngClass]="{'tag-active': tab === 5}"></p-tag>
                            </div>
                        </ng-template>
                       
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:60px" class="line-height">S.No</th>
                                <th pSortableColumn="ID" style="width:20%">Change Control ID
                                    <p-sortIcon field="id"></p-sortIcon>
                                    <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                                    </th>
                                
                                <th pSortableColumn="initiatedBy" style="width:20%">Initiated By <p-columnFilter type="text" field="initiatedBy" display="menu"></p-columnFilter></th>
                                <th pSortableColumn="inititatedOn" style="width:20%">Initiated On <p-columnFilter type="date" field="date" display="menu"></p-columnFilter> </th>
                                <th style="width:40px" class="line-height">Revision</th>
                                <th pSortableColumn="status" style="width:20%">Status 
                                     <p-columnFilter field="status" matchMode="equals" display="menu" [showMenu]="true">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter></th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ccauditTrails let-i="rowIndex" #templatesTable>
                            <tr>
                                <td>{{i+1}}</td>
                                <td><a class="idname">
                                        {{ccauditTrails.id}}</a></td>
                                <td>{{ccauditTrails.initiatedBy}}</td>
                                <td>{{ccauditTrails.date | date: 'MM/dd/yyyy'}}</td>
                                <td>{{ccauditTrails.revision}}</td>
                                <td><span class="status rounded-pill"
                                        [ngClass]="getStatusClass(ccauditTrails['status'])">{{ccauditTrails.status}}
                                    </span></td>
                            </tr>

                        </ng-template>
                    </p-table>

                
            </div>
        </div>

    </div>
</div>