<div class="px-4 py-3 bg-white shadow-dark rounded-2">
  <div class="d-flex justify-content-between align-items-center border-bottom mb-3">

    <h5 class="page-card-title">All Activiites</h5>
    
    <div class="input-group mb-3 activity-filter">
      <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-funnel"></i></label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Filter</option>
        <option value="1">Reviews</option>
        <option value="2">Work Transfers</option>
        <option value="3">Time Extensions</option>
      </select>
    </div>
  </div>

  <div class="activity-block p-3" *ngIf="activityEvents">

    <div class="d-flex" *ngFor="let actDate of activityEvents">
      <div class="activity-time">
        <p>{{actDate.dateKey}}</p>
      </div>
      <div class="activity-items">
        <ul>
          <li class="d-flex" *ngFor="let act of actDate.activites">
            <div class="activity-icon">
              <img src="../../../assets/images/mdi--edit-outline.svg" width="15" height="15">
            </div>
            <div class="activity-info">
              <p class="mb-0 p-date-styles"> <span class="name-styles">{{act.eventStr}}</span></p>
              <span class="activity-date">{{act.time}}</span>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>