  <nav class="left-nav navbar-nav">
    <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 65px)' }" styleClass="custombar1">
    <ul class="navbar-nav flex-column py-2">
      <li *ngFor="let item of navItems">
        <a class="nav-link nav-link-tagline"> 
           <!-- routerLinkActive="active" -->
          <!-- <i class="{{ item.iconClass }}"></i> -->
          <label>{{ item.label }}</label>
        </a>
        <ul class="p-0 ">
          <li *ngFor="let child of item.children">
            <a class="nav-link" [routerLink]="child.path" (click)="toggleMenu(child)">
              <i class="{{ child.iconClass }}"></i>
              <label>{{ child.label }}</label>
              <i class="fas fa-angle-down" *ngIf="child.children && child.isOpen"></i>
              <i class="fas fa-angle-right" *ngIf="child.children && !child.isOpen"></i>
            </a>
            <ul class="list-dashed" *ngIf="child.children && child.isOpen">
              <li *ngFor="let subChild of child.children">
                <a class="nav-link" [routerLink]="subChild.path" >
                  <i class="{{ subChild.iconClass }}"></i>
                  {{ subChild.label }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </p-scrollPanel>
  </nav>