<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
  <div class="workItemWrapper">
    <a (click)="navToChangeControls()" class=" me-2"><i class="fa-solid fa-arrow-left back-icon"></i></a>
    <h4 class="page-title flex-grow-1"> {{changeControl.changeControlUniqueCode}}</h4>
  </div>
  <div *ngIf="selectedReviewOptions ==='hodReview'"><span class="status rounded-pill status-returned ">HOD PENDING
    </span></div>
  <div *ngIf="selectedReviewOptions ==='qaReview'"><span class="status rounded-pill status-returned ">QA PENDING
    </span></div>
  <div *ngIf="selectedReviewOptions ==='cftReview'"><span class="status rounded-pill status-returned ">CFT PENDING
    </span></div>
  <div *ngIf="selectedReviewOptions ==='customerNotification'"><span
      class="status rounded-pill status-returned ">CUSTOMER NOTFICATION PENDING
    </span></div>
  <div *ngIf="selectedReviewOptions ==='qaDecision'"><span class="status rounded-pill status-returned ">QA DECISION
      PENDING
    </span></div>
  <div *ngIf="selectedReviewOptions ==='actionPlan'"><span class="status rounded-pill status-returned ">ACTION PLAN
      PENDING
    </span></div>
  <div *ngIf="selectedReviewOptions ==='closure'"><span class="status rounded-pill status-returned ">CLOSURE
    </span></div>
</div>

<div class="container-fluid">

  <div class="stepper-wrapper">
    <div class="stepper-item" [ngClass]="{'active': selectedReviewOptions === 'initiation', 
  'completed' :  selectedReviewOptions === 'hodReview' || selectedReviewOptions === 'qaReview' || 
  selectedReviewOptions === 'cftReview'||selectedReviewOptions === 'customerNotification'||selectedReviewOptions === 'qaDecision'||selectedReviewOptions === 'actionPlan'
  ||selectedReviewOptions === 'closure'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('initiation')">Initiation</div>
    </div>
    <div class="stepper-item" [ngClass]="{'active': selectedReviewOptions ==='hodReview', 
  'completed' : selectedReviewOptions === 'qaReview' || selectedReviewOptions ==='cftReview'||selectedReviewOptions === 'customerNotification'
  ||selectedReviewOptions === 'qaDecision'||selectedReviewOptions === 'actionPlan'||selectedReviewOptions === 'closure', 
  '':selectedReviewOptions==='initiation'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('hodReview')">HOD Review</div>
    </div>
    <div class="stepper-item" [ngClass]="{'active': selectedReviewOptions === 'qaReview', 
  'completed' : selectedReviewOptions ==='cftReview'||selectedReviewOptions==='customerNotification' || selectedReviewOptions==='qaDecision'||selectedReviewOptions === 'actionPlan'
  ||selectedReviewOptions === 'closure', 
  '':selectedReviewOptions==='initiation' || selectedReviewOptions==='hodReview'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('qaReview')">QA Review</div>
    </div>
    <div class="stepper-item"
      [ngClass]="{'active': selectedReviewOptions ==='cftReview', 
    'completed' : selectedReviewOptions === 'customerNotification' || selectedReviewOptions === 'qaDecision'  
    || selectedReviewOptions === 'actionPlan'|| selectedReviewOptions==='closure',
  '':selectedReviewOptions==='initiation' || selectedReviewOptions==='hodReview'|| selectedReviewOptions==='qaReview'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('cftReview')">CFT Review</div>
    </div>
    <div class="stepper-item" [ngClass]="{'active': selectedReviewOptions === 'customerNotification', 
    'completed' : selectedReviewOptions === 'qaDecision' || selectedReviewOptions === 'actionPlan'  
    || selectedReviewOptions === 'closure',
   '': selectedReviewOptions==='initiation'||selectedReviewOptions==='hodReview' ||selectedReviewOptions==='qaReview'
   || selectedReviewOptions==='cftReview'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('customerNotification')">Customer Notification</div>
    </div>
    <div class="stepper-item" [ngClass]="{'active': selectedReviewOptions === 'qaDecision', 
    'completed':selectedReviewOptions === 'actionPlan' || selectedReviewOptions === 'closure','':
    selectedReviewOptions==='initiation'|| selectedReviewOptions==='hodReview'|| selectedReviewOptions==='qaReview'|| selectedReviewOptions==='cftReview'
  ||selectedReviewOptions==='customerNotification'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('qaDecision')">QA Decision</div>
    </div>
    <div class="stepper-item"
      [ngClass]="{'active': selectedReviewOptions === 'actionPlan', 
    'completed':selectedReviewOptions === 'closure',
    '':selectedReviewOptions==='initiation' || selectedReviewOptions==='hodReview'|| selectedReviewOptions==='qaReview'
    ||selectedReviewOptions==='cftReview'||selectedReviewOptions==='customerNotification'||selectedReviewOptions==='qaDecision'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('actionPlan')">Action Plan</div>
    </div>
    <div class="stepper-item" [ngClass]="{'active': selectedReviewOptions === 'closure', 
  '':selectedReviewOptions==='initiation' || selectedReviewOptions==='hodReview'
  || selectedReviewOptions==='qaReview'||selectedReviewOptions==='cftReview'||selectedReviewOptions==='customerNotification'
  ||selectedReviewOptions==='qaDecision'||selectedReviewOptions==='actionPlan'}">
      <div class="step-counter"></div>
      <div class="step-name" (click)="selectProgressBar('closure')">Closure</div>
    </div>
  </div>

</div>
<div>
  <p-tabView>
    <p-tabPanel header="General">
      <div class="row">
        <!-- <div class="col-lg-5 "> -->
        <div
          [ngClass]="{'col-lg-12 ': selectedReviewOptions === 'initiation', 'col-lg-5 ': selectedReviewOptions !== 'initiation'}">
          <div class="w-100 summary-tab">
            <p-tabView>
              <p-tabPanel header="Request Details" *ngIf="changeControl && changeControl.requestDetails"
                class="mr-3 tab-styles">
                <div class="bg-white px-2">
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.requestDetails.reference == 'External'">
                    <span class="col-lg-5 mr-5 small text-color">External Reference</span>
                    <span>{{changeControl.requestDetails.externalReference}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.requestDetails.reference == 'Internal'">
                    <span class="col-lg-5 mr-5 small text-color">Quality Events</span>
                    <span>{{changeControl.requestDetails.qualityEvents}}</span>
                  </div>
                  <div class="d-flex mb-3 ">
                    <span class="col-lg-5 mr-5 small text-color">Initiating Department</span> <span
                      class="small">{{changeControl.requestDetails.initiatingDepartment}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.requestDetails.typeOfChange == 'Temporary'">
                    <span class="col-lg-5 mr-5 small text-color">Batch No./Lot No.</span>
                    <span>{{changeControl.requestDetails.batchNoLotNo}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.requestDetails.typeOfChange == 'Temporary'">
                    <span class="col-lg-5 mr-5 small text-color">Batch No./Lot Details.</span>
                    <span>{{changeControl.requestDetails.batchNoLotDetails}}</span>
                  </div>
                  <div class="d-flex mb-3" *ngIf="changeControl.requestDetails.dateofInitiation">
                    <span class="col-lg-5 mr-5 small text-color">Date of Initiation</span>
                    <span class="small">{{changeControl.requestDetails.dateofInitiation}}</span>
                  </div>
                  <div class="d-flex mb-3" *ngIf="changeControl.requestDetails.targetDateofClosure">
                    <span class="col-lg-5 mr-5 small text-color">Target Date of Closure</span>
                    <span class="small">{{changeControl.requestDetails.targetDateofClosure}}</span>
                  </div>
                  <div class="d-flex  mb-3" *ngIf="changeControl.requestDetails.market">
                    <span class="col-lg-5 mr-5 small text-color">Market</span>
                    <span class="small">{{changeControl.requestDetails.market}}</span>
                  </div>
                  <div class="d-flex  mb-3 " *ngIf="changeControl.requestDetails.customer">
                    <span class="col-lg-5 mr-5 small text-color">Customer</span>
                    <span class="small">{{changeControl.requestDetails.customer}}</span>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Change Details" *ngIf="changeControl && changeControl.changeDetails" class="mr-3">
                <div class="bg-white">
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.changeDetails.changesRelatedTo == 'Material'">
                    <span class="col-lg-5 mr-5 small text-color">Material</span>
                    <span>{{changeControl.changeDetails.material}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.changeDetails.changesRelatedTo == 'Equipment'">
                    <span class="col-lg-5 mr-5 small text-color">Equipment</span>
                    <span>{{changeControl.changeDetails.equipment}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.changeDetails.changesRelatedTo == 'Document'">
                    <span class="col-lg-5 mr-5 small text-color">Document</span>
                    <span>{{changeControl.changeDetails.document}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'Facility/Utility'">
                    <span class="col-lg-5 mr-5 small text-color">Facility/Utility</span>
                    <span>{{changeControl.changeDetails.facilityUtility}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.changeDetails.changesRelatedTo == 'Packing'">
                    <span class="col-lg-5 mr-5 small text-color">Packing</span>
                    <span>{{changeControl.changeDetails.packing}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.changeDetails.changesRelatedTo == 'Software'">
                    <span class="col-lg-5 mr-5 small text-color">Software</span>
                    <span>{{changeControl.changeDetails.software}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.changeDetails.changesRelatedTo == 'Testing'">
                    <span class="col-lg-5 mr-5 small text-color">Testing</span>
                    <span>{{changeControl.changeDetails.testing}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'Supplier/Service Provider'">
                    <span class="col-lg-5 mr-5 small text-color">Supplier/Service Provider</span>
                    <span>{{changeControl.changeDetails.supplierServiceProvider}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.changeDetails.changesRelatedTo == 'Others'">
                    <span class="col-lg-5 mr-5 small text-color">Others</span>
                    <span>{{changeControl.changeDetails.others}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'New Product & Existing Product'">
                    <span class="col-lg-5 mr-5 small text-color">Products</span>
                    <span>{{changeControl.changeDetails.products}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'New Product & Existing Product'">
                    <span class="col-lg-5 mr-5 small text-color">Element Impurities Assesment</span>
                    <span>{{changeControl.changeDetails.impurityAssesment}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'New Product & Existing Product' && changeControl.changeDetails.impurityAssesment == 'no'">
                    <span class="col-lg-5 mr-5 small text-color">Element Impurities Assesment Reason</span>
                    <span>{{changeControl.changeDetails.impurityReason}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'New Product & Existing Product'">
                    <span class="col-lg-5 mr-5 small text-color">Nitrosamine Impurities Assesment</span>
                    <span>{{changeControl.changeDetails.nitrosamineAssesment}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'New Product & Existing Product' && changeControl.changeDetails.nitrosamineAssesment == 'no' ">
                    <span class="col-lg-5 mr-5 small text-color">Nitrosamine Impurities Assesment Reason</span>
                    <span>{{changeControl.changeDetails.nitrosamineReason}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'New Product & Existing Product'">
                    <span class="col-lg-5 mr-5 small text-color">Genotoxic Impurities Assesment</span>
                    <span>{{changeControl.changeDetails.genotoxicAssesment}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.changeDetails.changesRelatedTo == 'New Product & Existing Product' && changeControl.changeDetails.genotoxicAssesment == 'no' ">
                    <span class="col-lg-5 mr-5 small text-color">Genotoxic Impurities Assesment Reason</span>
                    <span>{{changeControl.changeDetails.genatoxicReason}}</span>
                  </div>

                  <div class="d-flex mb-3 ">
                    <span class="col-lg-5 mr-5 small text-color">Existing Procedure</span>
                    <span class="small">{{changeControl.changeDetails?.existingProcedure}}</span>
                  </div>
                  <div class="d-flex mb-3 ">
                    <span class="col-lg-5 mr-5 small text-color">Proposed Change</span> <span
                      class="small">{{changeControl.changeDetails?.proposedChange}}</span>
                  </div>
                  <div class="d-flex mb-3 ">
                    <span class="col-lg-5 mr-5 small text-color">Justification for Proposed Change</span>
                    <span class="small">{{changeControl.changeDetails?.justificationForProposedChange}}</span>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Impact Details" *ngIf="changeControl && changeControl.impactAssessmentDetails"
                class="mr-3">
                <div class="bg-white">
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.impactAssessmentDetails.isChangeImpactProductMaterial != 'Yes'">
                    <span class="col-lg-5 mr-5 small text-color">Does the Change Impact Product/Material Quality</span>
                    <span>{{changeControl.impactAssessmentDetails.isChangeImpactProductMaterial}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.impactAssessmentDetails.isChangeImpactProductMaterial == 'Yes'">
                    <span class="col-lg-5 mr-5 small text-color">Impact Product/Materials</span>
                    <span>{{changeControl.impactAssessmentDetails.impactProductOrMaterials}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.impactAssessmentDetails.isAnyProceduresImpacted != 'Yes'">
                    <span class="col-lg-5 mr-5 small text-color">Are any Procedures Impacted</span>
                    <span>{{changeControl.impactAssessmentDetails.isAnyProceduresImpacted}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3"
                    *ngIf="changeControl.impactAssessmentDetails.isAnyProceduresImpacted == 'Yes'">
                    <span class="col-lg-5 mr-5 small text-color">Impacted Procedures</span>
                    <span>{{changeControl.impactAssessmentDetails.impactedProcedures}}</span>
                  </div>
                  <div class="d-flex mb-3 mt-3" *ngIf="changeControl.impactAssessmentDetails.comments">
                    <span class="col-lg-5 mr-5 small text-color">Comments</span>
                    <span>{{changeControl.impactAssessmentDetails.comments}}</span>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>


        </div>


        <div *ngIf="changeControl && selectedReviewOptions==='hodReview'" class="col-lg-7">
          <app-hod-review [changeControl]="changeControl"></app-hod-review>
        </div>
        <div *ngIf="changeControl && selectedReviewOptions==='qaReview'" class="col-lg-7">
          <app-qa-review [changeControl]="changeControl"></app-qa-review>
        </div>
        <div *ngIf="selectedReviewOptions==='cftReview'" class="col-lg-7">
          <app-cft-review [changeControl]="changeControl"></app-cft-review>
        </div>
        <div *ngIf="selectedReviewOptions==='customerNotification'" class="col-lg-7">
          <app-customer-notification></app-customer-notification>
        </div>
        <div *ngIf="selectedReviewOptions==='qaDecision'" class="col-lg-7">
          <app-qa-decision></app-qa-decision>
        </div>
        <div *ngIf="selectedReviewOptions==='actionPlan'" class="col-lg-7">
          <app-action-plans-review></app-action-plans-review>
        </div>
        <div *ngIf="selectedReviewOptions==='closure'" class="col-lg-7">
          <app-closure-cc></app-closure-cc>
        </div>

      </div>
    </p-tabPanel>
    <p-tabPanel header="Documents">
      <ng-template pTemplate="content">
        <app-documents></app-documents>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Activities">
      <app-activities></app-activities>
    </p-tabPanel>
  </p-tabView>
</div>