<div class="p-3 bg-white shadow-dark rounded-2">
    <h5 class="page-card-title border-bottom">QA Decision </h5>

    <div class="p-2">
        <div class="d-flex justify-content-center mt-2">
            <div class="reviews mt-3">

                <label class="review approve-review" for="approve">
                    <input type="radio" [(ngModel)] = "qaDecision.status" name="review" id="approve" value="Approve" />
                    <div class="review-content">
                        <div class="review-details">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                                    <path fill-rule="evenodd"
                                        d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0m7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768z"
                                        clip-rule="evenodd" />
                                </svg> Approve</span>
                        </div>
                    </div>
                </label>

                <label class="review return-review" for="return">
                    <input type="radio" [(ngModel)] = "qaDecision.status" id="return" name="review" value="Return" />
                    <div class="review-content">

                        <div class="review-details">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56">
                                    <path d="M19.281 49.516c1.242 0 2.063-.844 2.063-2.063c0-.61-.188-1.055-.563-1.43l-6.75-6.586l-4.453-3.796l5.508.234h29.906c5.46 0 7.735-2.508 7.735-7.805V14.22c0-5.461-2.274-7.735-7.735-7.735H31.867c-1.289 0-2.133.938-2.133 2.086c0 1.149.844 2.086 2.133 2.086h13.125c2.484 0 3.563 1.078 3.563 3.563v13.85c0 2.555-1.079 3.633-3.563 3.633H15.086l-5.508.235l4.453-3.797l6.75-6.586c.375-.375.563-.844.563-1.453c0-1.196-.82-2.063-2.063-2.063c-.515 0-1.125.258-1.523.656L3.976 32.22c-.468.445-.703.984-.703 1.57c0 .563.235 1.125.703 1.57l13.782 13.524a2.273 2.273 0 0 0 1.523.633" />
                                </svg>Return</span>
                        </div>
                    </div>
                </label>

                <label class="review reject-review" for="reject">
                    <input type="radio" [(ngModel)] = "qaDecision.status" id="reject" name="review" value="Reject" />
                    <div class="review-content">

                        <div class="review-details">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path
                                        d="M7.293 8L3.146 3.854a.5.5 0 1 1 .708-.708L8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708z" />
                                </svg>
                                Reject</span>
                        </div>
                    </div>
                </label>
                <!-- <input [hidden]="true" type="radio" [(ngModel)] = "qaDecision.status" id="return" name="review" value="" /> -->
            </div>

        </div>
        <div class="form-group mt-3 px-1">
            <label for="comments">Review Comments</label>
            <textarea [(ngModel)] = "qaDecision.comments" class="form-control mt-2 text-muted review-styles" id="comments"
                placeholder="Enter review comments here" rows="3"></textarea>
        </div>
        <div class="mt-4 bg-contrast pb-3 rounded">
            <div class="d-flex justify-content-between align-items-center p-3">
                <h6 class="mb-0">Action Plans</h6>

                <button type="button" *ngIf="!qaDecision.status"  (click)="setActionPlanInput()" class="btn btn-create btn-add rounded-circle">+
                </button>
            </div>
            <div class="action-plans-block px-3 ">
                <p *ngIf="!action_plans">Loading action plans..</p>
                <p *ngIf="action_plans?.length == 0">No action plans found.</p>
                <div *ngFor="let actionplan of action_plans; let i=index"
                    class="d-flex brd-dashed bg-white flex-column rounded p-3 mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-2">ActionPlan/W{{actionplan?.changeContolActionPlanId}}</h6>
                        <span class="badge text-bg-secondary">{{actionplan?.type}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0">{{actionplan?.description}}</p>
                    </div>
                </div>

                <!-- <div class="d-flex brd-dashed bg-white flex-column rounded p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-2">CC-PL01-24-0001/DM1/W1</h6>
                        <span class="badge text-bg-secondary">SOP</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0">GTP shall be revised to make in line
                            with pharmacopoeia's</p>
                    </div>
                </div> -->

            </div>
        </div>

        
        <div class="col-lg-12 mt-3">
            <div class="form-group row input-styles">
                <label for="Reviewed actions" class="col-sm-4 col-form-label text-dark">Reviewed all the actions
                    proposed and are acceptable</label>

                <div class="col-lg-8 d-flex radio-styles align-items-center">
                    <div class="">
                        <input [(ngModel)] = "qaDecision.isReviewedActions" type="radio" id="Yes" name="radiobtn" [value]="true">
                        <label class="p-2 " for="yes">Yes</label>
                    </div>
                    <div class="rd-styles">
                        <input [(ngModel)] = "qaDecision.isReviewedActions" type="radio" id="No" name="radiobtn" [value]="false">
                        <label class="p-2 " for="No">No</label>
                    </div>
                    <div class="rd-styles">
                        <input [(ngModel)] = "qaDecision.isReviewedActions" type="radio" id="Not Applicable" name="radiobtn" [value]="null">
                        <label class="p-2 " for="Not Applicable">Not Applicable</label>
                    </div>
                </div>

            </div>
        </div>


        <div class="form-group mt-3 px-1">
            <label for="comments">Remarks/Reason</label>
            <textarea [(ngModel)] = "qaDecision.remarks" class="form-control mt-2 text-muted review-styles" id="comments" placeholder="Enter Remarks here"
                rows="3"></textarea>
        </div>

        <div class="mt-4 d-flex justify-content-end">
            <button type="button" class="btn btn-default rounded-pill me-3">Cancel</button>
            <button type="button" (click)="saveQADecision()"  [disabled]="qaDecision.isSave" class="btn btn-outline-primary rounded-pill me-3">Save</button>
            <button type="button" (click)="submit()"  [disabled]="qaDecision.isSave && qaDecision.status" class="btn btn-primary rounded-pill me-3">Submit</button>
        </div>
    </div>
</div>

<action-plan-form [(visibleSidebar2)]="visibleSidebar2" (refreshEvent)="refresh($event)"></action-plan-form>
<p-toast></p-toast>