<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <h4 class="page-title flex-grow-1 labelStyles">Users</h4>
    <button type="button" class="btn btn-create rounded-pill initiative "  (click)="Openvisiblesidebar(0)">+ Add
        User</button>
</div>
<div class="gx-15">
    <div class="container-fluid mb-5">

        <div class="row">
            <div class="col mt-2 table-landing ">
                <p-table #dt dataKey="id" [value]="modifyUserDatasource" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
                    [globalFilterFields]="['userId','userName', 'roleName', 'department', 'createdBy','createdDate']"
                    tableStyleClass="table table-striped">
                    <ng-template pTemplate="caption">
                        <div class="d-flex justify-content-end">
                            <span class="p-input-icon-left ml-auto search-block">
                                <i class="fa fa-search search-icon"></i>
                                <input pInputText type="text" class="form-control rounded-pill search-text"
                                    (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:40px" class="lh-lg">S.No</th>
                            <!-- <th pSortableColumn="userId">User ID
                                <p-sortIcon field="userId"></p-sortIcon>
                                <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                            </th> -->
                            <th pSortableColumn="firstName">User Name<p-columnFilter type="text" field="firstName"
                                    display="menu"></p-columnFilter></th>

                            <th pSortableColumn="userId">User Id<p-columnFilter type="text" field="userId"
                                        display="menu"></p-columnFilter></th>

                            <th pSortableColumn="roleName">Role <p-columnFilter type="text" field="roleName"
                                    display="menu"></p-columnFilter></th>
                            <th pSortableColumn="department">Department <p-columnFilter type="text" field="department"
                                    display="menu"></p-columnFilter></th>
                            <th pSortableColumn="createdBy">Initiated By <p-columnFilter type="text"
                                    field="createdBy" display="menu"></p-columnFilter></th>
                            <th pSortableColumn="createdDate">Initiated On <p-columnFilter type="date" field="createdDate"
                                    display="menu"></p-columnFilter> </th>
                            <th pSortableColumn="status">Status
                                <p-columnFilter field="status" matchMode="equals" display="menu" [showMenu]="true">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="status"
                                            (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <span
                                                    [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th >Actions</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-modifyUser let-i="rowIndex" #templatesTable>
                        <tr>
                            <td>{{i+1}}</td>
                            <!-- <td class="idname">
                                {{modifyUser.id}}</td> -->
                            <td>{{modifyUser.userName}}</td>
                            <td>{{modifyUser.userId}}</td>
                            <td>{{modifyUser.role}}</td>
                            <td>{{modifyUser.department}}</td>
                            <td>{{modifyUser.createdBy}}</td>
                            <td>{{modifyUser.createdDate | date: 'MM/dd/yyyy'}}</td>
                            <td><span role="button" tabindex="0" pInputText pTooltip="Change Status"
                                    tooltipPosition="top" class="status-dot rounded-pill " [ngClass]="{'status-active':modifyUser.status==='Active',
                                    'status-inactive':modifyUser.status ==='Inactive'}"
                                    (click)="visibleSidebar2 = true;openFlyout(i)">{{modifyUser.status}}
                                </span>

                            </td>
                            <td class="text-center">

                                <a class="me-3" pInputText pTooltip="Edit" tooltipPosition="top"  (click)="Openvisiblesidebar(modifyUser.id)">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a  class="me-3"  [routerLink]="['/reg-plant-assignment-user']" pInputText pTooltip="Assign to Plant"
                                    tooltipPosition="top">
                                    <i class="bi bi-building-add"></i>
                                </a>
                                <a pInputText [routerLink]="['/reset-pwd']"  pTooltip="Reset Password" tooltipPosition="top">
                                    <i class="bi bi-person-lock"></i>
                                </a>


                            </td>
                        </tr>

                    </ng-template>
                </p-table>


            </div>
        </div>

    </div>
</div>
<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="30000">
    <div class="panel-header">

        <div class="d-flex justify-content-between align-items-center w-100 p-2">
            <h5 class="text-white px-3 py-4 m-0">New User </h5>
            <a class="p-2" (click)="closeNavBar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 16 16">
                    <path
                        d="M7.293 8L3.146 3.854a.5.5 0 1 1 .708-.708L8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708z" />
                </svg></a>

        </div>
    </div>
    <form [formGroup]="modifyUserForm!" (ngSubmit)="regModifyUser()">
        <div class="d-flex flex-column py-3 px-4">

            <div class="form-group row">
                <label for="fName" class="col-md-4 col-form-label">First Name</label>
                <div class="col-md-7">
                    <input class="form-control" rows="4" id="fName" formControlName="firstname" />
                </div>
            </div>

            <div class="form-group row">
                <label for="lName" class="col-md-4 col-form-label">  Last Name</label>
                <div class="col-md-7">
                    <input class="form-control" rows="4" id="lName" formControlName="lastname" />
                </div>
            </div>

            <!-- <div class="form-group row">
                <label for="userName" class="col-md-4 col-form-label">User Name</label>
                <div class="col-md-7">
                    <input class="form-control" rows="4" id="userName" formControlName="userName" />
                </div>
            </div> -->


            <div class="form-group row">
                <label for="userId" class="col-md-4 col-form-label">User ID</label>
                <div class="col-md-7">
                    <input class="form-control" rows="4" id="userId" formControlName="userId" />


                </div>
            </div>
            <div class="form-group row">
                <label for="role" class="col-md-4 col-form-label">Role</label>
                <div class="col-md-7  ">
                    <select class="form-select" (change)="selectRole($event)" formControlName="roleid">
                        <option *ngFor="let selectedRoleDetails of roleDetails" [value]="selectedRoleDetails.id">
                          {{ selectedRoleDetails.name }}
                        </option>
                      </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="department" class="col-md-4 col-form-label">Department</label>
                <div class="col-md-7">
                    <!-- <input class="form-control" rows="4" formControlName="department" /> -->

                    <div class="col-md-7  ">
                        <select name="department" class="form-select" (change)="selectDepartment($event)"  formControlName="departmentid">
                            <option *ngFor="let selecteddepart of departmentsDataSource" [value]="selecteddepart.id">
                                {{selecteddepart.departmentName}}
                            </option>
                        </select>
                    </div>


                </div>
            </div>
            <div class="form-group row">
                <label for="employeeId" class="col-md-4 col-form-label">Employee ID</label>
                <div class="col-md-7">
                    <input class="form-control" rows="4" formControlName="employeeId" />


                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label">Email ID</label>
                <div class="col-md-7">
                    <input type="email" class="form-control" rows="4" formControlName="email" />
                </div>
            </div>


        </div>
    </form>
    <p-toast></p-toast>

    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="closeNavBar()">Cancel</button>

        <button type="button" class="btn btn-primary rounded-pill me-2" (click)="regModifyUser()">Submit</button>
    </div>

</p-sidebar>
<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="30000">
    <div class="panel-header">
        <div class="d-flex justify-content-between align-items-center w-100 p-2">
            <h5 class="text-white px-3 py-4 m-0">Change Status - John Doe</h5>
            <a class="p-2" (click)="closeNavBar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 16 16">
                    <path
                        d="M7.293 8L3.146 3.854a.5.5 0 1 1 .708-.708L8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708z" />
                </svg></a>

        </div>
    </div>
    <div class="d-flex flex-column py-3 px-4">
        <div class="form-group row">
            <label for="Plan Type" class="col-md-4 col-form-label">Status</label>
            <div class="col-md-7 drp-styles ">

                <select name="status" class="form-select" (change)="selectStatusType($event)">
                    <option *ngFor="let statusVal of status" [value]="statusVal.value">
                        {{statusVal.label}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="Review" class="col-md-4 col-form-label">Review/Remarks</label>
            <div class="col-lg-7  border-styles">
                <textarea rows="4" class="form-control" name="comment" form="usrform"></textarea>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="closeNavBar()">Cancel</button>
        <button type="button" class="btn btn-primary rounded-pill me-2">Submit</button>
    </div>
</p-sidebar>