<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
  <a class="me-2"> <i class="fa-solid fa-arrow-left back-icon m-l-3"></i></a>
  <h4 class="page-title flex-grow-1 labelStyles">
    Reset Login Password - Username
  </h4>
</div>
<div class="px-4 py-4">
  <div class="row">
    <div class="col">
      <form [formGroup]="resetPasswordForm!" (ngSubmit)="resetPassword()">
        <div class="p-5 bg-white shadow-dark rounded-2">

          <div class="form-group row">
            <label for="tempPassword" class="col-md-3 col-sm-12 col-form-label">Temporary Password Alloted</label>
            <div class="col-sm-10 col-md-4 ">
              <input type="password" class="form-control" id="tempPassword" formControlName="tempPassword"
                placeholder="" />
            </div>

          </div>
          <div class="form-group row">
            <label for="retypePassword" class="col-sm-12 col-md-3 col-form-label">Retype Password</label>
            <div class="col-sm-10 col-md-4">
              <input type="password" class="form-control" id="retypePassword" formControlName="retypePassword"
                placeholder="" />
            </div>

          </div>




        </div>
      </form>


      <p-toast></p-toast>
      <div class="d-flex mt-4 justify-content-end">
        <button type="button" class="btn btn-default rounded-pill me-3" (click)="cancelClick()">Cancel</button>
        <button type="button" class="btn btn-primary rounded-pill me-3" (click)="resetPassword()">Submit</button>
      </div>
    </div>
  </div>
</div>