
<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <a class="me-2"> <i class="fa-solid fa-arrow-left back-icon m-l-3"></i></a>
    <h4 class="page-title flex-grow-1 labelStyles">
        Customer Registration Initiation
      </h4>
    </div>
    <div class="px-4 py-4">
        <div class="row">
          <div class="col">
            <form [formGroup]="customerRegistrationForm!" (ngSubmit)="customerRegistration()">
            <div class="p-5 bg-white shadow-dark rounded-2">
            <div class="form-group row">
                
                <label for="name" class="col-md-3 col-sm-12 col-form-label"> Name</label>
                <div class="col-sm-10 col-md-4 ">
                    <input type="text" class="form-control input-width" id="name"
                         formControlName="name" placeholder="" />
                </div>
            
        </div>
        <div class="form-group row"> 
            <label for="uniqueCode" class="col-md-3 col-sm-12 col-form-label">Unique Code</label>
            <div class="col-sm-10 col-md-4 ">
                <input type="text" class="form-control input-width" id="uniqueCode"
                     formControlName="uniqueCode" placeholder="" />
            </div>
        
    </div>
    <div class="form-group row"> 
        <label for="contactName" class="col-md-3 col-sm-12 col-form-label">Contact Name</label>
        <div class="col-sm-10 col-md-4 ">
            <input type="text" class="form-control" id="contactName"
             formControlName="contactName" placeholder="" />
        </div>
    
</div>
<div class="form-group row"> 
    <label for="address" class="col-md-3 col-sm-12 col-form-label">Address</label>
    <div class="col-sm-10 col-md-4 ">
        <textarea type="model" class="form-control" id="address"
            name="address" formControlName="address" placeholder="Enter Your Address Here.."></textarea>
    </div>

</div>
<div class="form-group row"> 
    <label for="city" class="col-md-3 col-sm-12 col-form-label">City</label>
    <div class="col-sm-10 col-md-4 ">
        <input type="serialNumber" class="form-control" id="city"
            name="city" formControlName="city" placeholder="City" />
    </div>

</div>
<div class="form-group row"> 
    <label for="state" class="col-md-3 col-sm-12 col-form-label">State </label>
    <div class="col-sm-10 col-md-4 ">
        <input type="text" class="form-control" id="state"
            name="state" formControlName="state" placeholder="State" />
    </div>

</div>
<div class="form-group row"> 
    <label for="country" class="col-md-3 col-sm-12 col-form-label">Country</label>
    <div class="col-sm-10 col-md-4 ">
        <input type="text" class="form-control" id="country"
            name="country" formControlName="country" placeholder="Country" />
    </div>

</div>
<div class="form-group row">
    <label for="zipCode" class="col-md-3 col-sm-12 col-form-label">Zip Code</label>
    <div class="col-sm-10 col-md-4 ">
        <input class="form-control" type="text" id="zipCode"   formControlName="zipCode" >
    </div>
</div>
<div class="form-group row"> 
    <label for="fax" class="col-md-3 col-sm-12 col-form-label">Fax</label>
    <div class="col-sm-10 col-md-4 ">
        <input type="text" class="form-control" id="fax"
            name="fax" formControlName="fax" placeholder="" />
    </div>

</div>
<div class="form-group row"> 
    <label for="email" class="col-md-3 col-sm-12 col-form-label">Email</label>
    <div class="col-sm-10 col-md-4 ">
        <input type="email" class="form-control" id="email"
            formControlName="email" placeholder="" />
    </div>

</div>
<div class="form-group row"> 
    <label for="remarks" class="col-md-3 col-sm-12 col-form-label">Reasons/Remarks</label>
    <div class="col-sm-10 col-md-4 ">
        <textarea type="text" class="form-control" id="remarks"
            formControlName="remarks" placeholder=""></textarea>
    </div>

</div>

            

            </div>
            <div class="d-flex mt-4 justify-content-end">
                <button type="button" class="btn btn-default rounded-pill me-3" (click)="backToCustomers()">Cancel</button>
                <button type="button" class="btn btn-primary rounded-pill me-3" (click)="customerRegistration()"
                  >Submit</button>
              </div>
            </form>
            <p-toast></p-toast>
          </div>
        </div>
    </div>
