<div class="p-3 bg-white shadow-dark rounded-2">
    <h5 class="page-card-title border-bottom">CFT Review</h5>
    
    <div class="p-2">
        <div class="form-group mt-3 px-1">
            <label for="comments">Review Comments</label>
            <textarea class="form-control mt-2 text-muted review-styles" id="comments"
                placeholder="Enter review comments here" rows="3"></textarea>
        </div>
      <div class="mt-4 bg-contrast pb-3 rounded">
            <div class="d-flex justify-content-between align-items-center p-3">
                <h6 class="mb-0">Action Plans</h6>

                <button type="button" class="btn btn-create btn-add rounded-circle" (click)="visibleSidebar2 = true">+
                </button>
            </div>
            <div class="action-plans-block px-3 ">
                <div class="d-flex brd-dashed bg-white flex-column rounded p-3 mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-2">CC-PL01-24-0001/DM1/W1</h6>
                        <span class="badge text-bg-secondary">SOP</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0">GTP shall be revised to make in line
                            with pharmacopoeia's</p>
                    </div>
                </div>

                <div class="d-flex brd-dashed bg-white flex-column rounded p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-2">CC-PL01-24-0001/DM1/W1</h6>
                        <span class="badge text-bg-secondary">SOP</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0">GTP shall be revised to make in line
                            with pharmacopoeia's</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group mt-3 px-1">
            <label for="Decision" class="col-md-4 col-sm-12 col-form-label">Decision for Proposed Changes
            </label>


            <div class="col-lg-6 d-flex radio-styles ">
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" id="Acceptable" name="radiobtn" value="Acceptable" checked>
                    <label class="form-check-label" for="Acceptable">Acceptable</label>
                </div>
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" id="NotAcceptable" name="radiobtn" value="NotAcceptable">
                    <label class="form-check-label" for="NotAcceptable">Not Acceptable</label>
                </div>
            </div>
        </div>
        <div class="form-group mt-3 px-1">
            <label for="comments">Remarks/Reason</label>
            <textarea class="form-control mt-2 text-muted review-styles" id="comments"
                placeholder="Enter Remarks here" rows="3"></textarea>
        </div>
        <div class="mt-4 d-flex justify-content-end">
            <button type="button"
                class="btn btn-default rounded-pill me-3">Cancel</button>
            <button type="button" class="btn btn-outline-primary rounded-pill me-3">Save</button>
            <button type="button"
                class="btn btn-primary rounded-pill me-3">Submit</button>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="30000">
    <div class="panel-header">
        <div class="d-flex justify-content-between align-items-center w-100 p-2">
            <h5 class="text-white px-3 py-4 m-0">New Action Plan </h5>
            <a class="p-2" (click)="closeNavBar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 16 16">
                    <path
                        d="M7.293 8L3.146 3.854a.5.5 0 1 1 .708-.708L8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708z" />
                </svg></a>

        </div>
    </div>
    <div class="d-flex flex-column py-3 px-4">
        <div class="form-group row">
            <label for="Internal Reference" class="col-md-4 col-form-label">Plan Type</label>
            <div class="col-md-7 drp-styles ">
                <select name="status" class="form-select" (change)="selectPlantType($event)">
                    <option *ngFor="let selectedPlantTypeDetails of plantTypeDetails" [value]="selectedPlantTypeDetails.code">
                        {{selectedPlantTypeDetails.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="Description" class="col-md-4 col-form-label">Description</label>
            <div class="col-md-7">
                <textarea class="form-control" rows="4" name="Description" form="usrform">
                  </textarea>
                  
            </div>
        </div>

        <div class="form-group row">
            <label for="Internal Reference" class="col-md-4 col-form-label">In-Charge Department</label>
            <div class="col-lg-7 drp-styles ">
                <select name="status" class="form-select" (change)="selectIncharge($event)">
                    <option *ngFor="let selectedInchargeDetails of inChargeDepartmentDetails" [value]="selectedInchargeDetails.code">
                        {{selectedInchargeDetails.name}}
                    </option>
                </select> 
            </div>
        </div>

        <div class="form-group row">
            <label for="Assign to" class="col-md-4 col-form-label">Assign to </label>

            <div class="col-lg-8 d-flex">
                <div class="me-3">
                    <input type="radio" id="usergroup" name="radiobtn" value="0"
                        checked class="form-check-input user-group-radio-btn" (change)="selectAssignToGroup($event)">
                    <label class="p-2 " for="usergroup">User Group</label>
                </div>
                <div class="">
                    <input type="radio" class="form-check-input user-group-radio-btn" id="user" name="radiobtn" value="1" (change)="selectAssignToGroup($event)">
                    <label class="p-2 " for="user">User</label>
                </div>
            </div>
        </div>

        <div class="form-group row ">
            <label for="Internal Reference" class="col-md-4 col-form-label">Select User Group</label>
            <div class="col-lg-7">
                <select name="status" class="form-select" (change)="selectUserGroup($event)">
                    <option *ngFor="let selectedUserGroupDetails of userGroupDetails" [value]="selectedUserGroupDetails.code">
                        {{selectedUserGroupDetails.name}}
                    </option>
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <label for="Target Date of Closure" class="col-md-4 col-form-label">Target Date</label>
            <div class="col-lg-7">
                <input type="date" class="form-control" id="targetDate" name="" [(ngModel)]="selectedDate"
                    placeholder="10/11/2024" />
            </div>
        </div>
        <div class="form-group row">
            <label for="Review" class="col-md-4 col-form-label">Review/Remarks</label>
            <div class="col-lg-7  border-styles">
                <textarea rows="4" class="form-control" name="comment" form="usrform"></textarea>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <button type="button"
            class="btn btn-outline-primary rounded-pill me-3">Cancel</button>
        <button type="button" class="btn btn-outline-primary rounded-pill me-3 save-btn">Save & Add
            New</button>
        <button type="button" class="btn btn-primary rounded-pill me-2">Save</button>
    </div>
</p-sidebar>