<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
    <a class="me-2"> <i class="fa-solid fa-arrow-left back-icon m-l-3" (click)="backToRoles()"></i></a>
    <h4 class="page-title flex-grow-1 labelStyles">
        New Role & Functional Profile Registration
    </h4>
</div>
<div class="px-4 py-4">
    <div class="row">
        <div class="col">

            <form [formGroup]="RoleForm!" (ngSubmit)="saveRoleClick(roleInfo)">
                <div class="p-3 bg-white shadow-dark rounded-2">
                    <h5 class="page-card-title border-bottom">Basic Info</h5>
                    <div class="px-4 pt-4 pb-2">
                        <div class="form-group row">
                            <label for="name" class="col-sm-12 col-md-3 col-form-label">Role Name</label>
                            <div class="col-sm-10 col-md-4">
                                <input class="form-control" rows="4" id="name" placeholder="Role Name" formControlName="name" />
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <label for="description" class="col-sm-12 col-md-3 col-form-label">Description</label>
                            <div class="col-sm-10 col-md-4">
                                <textarea class="form-control" rows="4" formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 p-3 bg-white shadow-dark rounded-2">
                    <h5 class="page-card-title border-bottom">Functional Profile</h5>
                    <div class="px-4 pt-4 pb-2">

                        <div class="fp-block">
                            <h5 class="fp-title">Change Controls</h5>
                            <div class="row mt-3 px-4"  formGroupName="ChangeControlModel">
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" formControlName="controlLoginInitiation" id="controlLoginInitiation">
                                        <label class="form-check-label" for="controlLoginInitiation">Control Login
                                            Initiation</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="hodReview" Name="hodReview" id="hodReview">
                                        <label class="form-check-label" for="hodReview">HOD Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="qaReview" Name="qaReview" id="qaReview">
                                        <label class="form-check-label" for="qaReview">QA Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" formControlName="cftReview" id="cftReview" name="cftReview">
                                        <label class="form-check-label" for="cftReview">CFT Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="customerNotification" name="customerNotification" id="customerNotification">
                                        <label class="form-check-label" for="customerNotification">Customer
                                            Notification</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="qaDecision" id="qaDecision" name="qaDecision" >
                                        <label class="form-check-label" for="qaDecision">QA Decision</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="actionPlan" name="actionPlan" id="actionPlan">
                                        <label class="form-check-label" for="actionPlan">Action Plan</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="finalClosure" id="finalClosure" name="finalClosure">
                                        <label class="form-check-label" for="finalClosure">Final Closure</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="extensionOfTargetDate" id="extensionOfTargetDate" name="extensionOfTargetDate">
                                        <label class="form-check-label" for="extensionOfTargetDate">Extension of Target
                                            Date</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="workTransfer" formControlName="workTransfer" name="workTransfer" id="workTransfer"> 
                                        <label class="form-check-label" for="workTransfer">Work Transfer</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="dossierPrint" id="dossierPrint" name="dossierPrint">
                                        <label class="form-check-label" for="dossierPrint">Dossier Print</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="auditTrials" id="auditTrials" name="auditTrials">
                                        <label class="form-check-label" for="auditTrials">Audit Trials</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="reports" id="reports" id="reports">
                                        <label class="form-check-label" for="reports">Reports</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fp-block mt-3">
                            <h5 class="fp-title" for="allDeviations">Deviations</h5>
                            <div class="row mt-3 px-4" formGroupName ="DeviationModel">
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="deviationInitiation" name="deviationInitiation" formControlName="deviationInitiation">
                                        <label class="form-check-label" for="deviationInitiation">Deviation
                                            Initiation</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="hodReviewD" name="hodReview_Deviation" formControlName="hodReview_Deviation">
                                        <label class="form-check-label" for="hodReviewD">HOD Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="qaReviewD" name="qaReview_Deviation" formControlName="qaReview_Deviation" id="qaReview_Deviation">
                                        <label class="form-check-label" for="qaReviewD">QA Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="cftReviewD" formControlName="cftReview_Deviation" name="cftReview_Deviation" id="cftReview_Deviation">
                                        <label class="form-check-label" for="cftReviewD">CFT Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="customerNotificationD" formControlName="customerNotification_Deviation" name="customerNotification_Deviation" id="customerNotification_Deviation">
                                        <label class="form-check-label" for="customerNotificationD">Customer 
                                            Notification</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="investigationD" formControlName="investigation" name="investigation">
                                        <label class="form-check-label" for="investigationD">Investigation</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="qaDecisionD" formControlName="qaDecision_Deviation" name="qaDecision_Deviation" id="qaDecision_Deviation">
                                        <label class="form-check-label" for="qaDecisionD">QA Decision</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="actionPlanD" formControlName="actionPlan_Deviation" name="actionPlan_Deviation" id="actionPlan_Deviation">
                                        <label class="form-check-label" for="actionPlanD">Action Plan</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  name="finalClosure_QA" id="finalClosure_QA" formControlName="finalClosure_QA">
                                        <label class="form-check-label" for="finalClosureQAD">Final Closure (QA)</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="extensionOfTargetDateD" formControlName="extensionOfTargetDate_Deviation" name="extensionOfTargetDate_Deviation"> 
                                        <label class="form-check-label" for="extensionOfTargetDateD">Extension of Target
                                            Date</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" >
                                        <input class="form-check-input" type="checkbox" id="workTransferD" formControlName="workTransfer_Deviation" name="workTransfer_Deviation">
                                        <label class="form-check-label" for="workTransferD">Work Transfer</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="dossierPrintD" formControlName="dossierPrint_Deviation"  name="dossierPrint_Deviation">
                                        <label class="form-check-label" for="dossierPrintD">Dossier Print</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="auditTrialsD" formControlName="auditTrials_Deviation" name="auditTrials_Deviation">
                                        <label class="form-check-label" for="auditTrialsD">Dossier Print</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="reportsD" formControlName="reports_Deviation" name="reports_Deviation">
                                        <label class="form-check-label" for="reportsD">Dossier Print</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="fp-block mt-3">
                            <h5 class="fp-title" for="allDeviations">Correction and Preventive Actions </h5>
                            <div class="row mt-3 px-4">
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="capaInitiation" formControlName="capaInitiation" name="capaInitiation">
                                        <label class="form-check-label" for="capaInitiation">CAPA Initiation</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="hodReviewC" formControlName="hodReview_CAPA" name="hodReview_CAPA">
                                        <label class="form-check-label" for="hodReviewC">HOD Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="qaReviewC" formControlName="qaReview_CAPA" name="qaReview_CAPA">
                                        <label class="form-check-label" for="qaReviewC">QA Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="cftReviewC" formControlName="qaReview_CAPA" name="qaReview_CAPA">
                                        <label class="form-check-label" for="cftReviewC">CFT Review</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="qaDecisionC" formControlName="qaDecision_CAPA" name="qaDecision_CAPA">
                                        <label class="form-check-label" for="qaDecisionC">QA Decision</label>
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="actionPlanC" formControlName="actionPlan_CAPA" name="actionPlan_CAPA">
                                        <label class="form-check-label" for="actionPlanC">Action Plan</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="finalClosureQAC" formControlName="finalClosure_QA_CAPA" name="finalClosure_QA_CAPA" >
                                        <label class="form-check-label" for="finalClosureQAC">Final Closure
                                            (QA)</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="extensionOfTargetDateC" formControlName="extensionOfTargetDate_CAPA" name="extensionOfTargetDate_CAPA">
                                        <label class="form-check-label" for="extensionOfTargetDateC">Extension of
                                            Target Date</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="workTransferC" formControlName="workTransfer_CAPA" name="workTransfer_CAPA">
                                        <label class="form-check-label" for="workTransferC">Work Transfer</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="dossierPrintC" formControlName="dossierPrint_CAPA" name="dossierPrint_CAPA" >
                                        <label class="form-check-label" for="dossierPrintC">Dossier Print</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="auditTrialsC" formControlName="auditTrials_CAPA" name="auditTrials_CAPA">
                                        <label class="form-check-label" for="auditTrialsC">Audit Trials</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <div class="form-check" formGroupName="CAPAModel">
                                        <input class="form-check-input" type="checkbox" id="reportsC" formControlName="reports_CAPA" name="reports_CAPA">
                                        <label class="form-check-label" for="reportsC">Reports</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fp-block mt-3">
                            <h5 class="fp-title" for="allDeviations">System Manager</h5>
                            <div class="row mt-3 px-4">

                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <p-toast></p-toast>

            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-default rounded-pill me-3" (click)="backToRoles()">Cancel</button>

                <button type="button" class="btn btn-primary rounded-pill me-2"
                    (click)="saveRoleClick(roleInfo)">Submit</button>
            </div>

        </div>
    </div>
</div>