<div class="p-3 bg-white shadow-dark rounded-2">
    <h5 class="page-card-title border-bottom">CFT Review</h5>
    <div class="p-2">
        <div class="d-flex justify-content-center mt-2">
          

        </div>
        <div class="form-group mt-3 px-1">
            <label for="remarks">Remarks/Reason</label>
            <textarea class="form-control mt-2 text-muted review-styles" id="remarks"
                placeholder="Enter review comments here" rows="3"></textarea>
        </div>
        
        <div class="form-group mt-3 px-1">
            <label for="comments">Review Comments</label>
            <textarea class="form-control mt-2 text-muted review-styles" id="comments"
                placeholder="Enter review comments here" rows="3"></textarea>
        </div>

        <div class="mt-4 d-flex justify-content-end">
            <button type="button"
                class="btn btn-default rounded-pill me-3">Cancel</button>
            <button type="button" class="btn btn-outline-primary rounded-pill me-3">Save</button>
            <button type="button"
                class="btn btn-primary rounded-pill me-3">Submit</button>
        </div>
    </div>
</div>

