<div class="d-flex justify-content-between align-items-center bg-white shadow-dark px-3">
  <a class="me-2" (click)="backToCCClick()">
    <i class="fa-solid fa-arrow-left back-icon m-l-3"></i></a>
  <h4 class="page-title flex-grow-1 labelStyles">Work Transfer Request</h4>
</div>
<div class="px-4 py-4">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="addRequest()">
        <div class="p-4 bg-white shadow-dark rounded-2">
          <!-- <div class="form-group row">
            <label for="reqCode" class="col-sm-2 col-form-label">Work Transfer Code</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="reqCode" name="reqCode" placeholder="System Generated"
                readonly />
            </div>
          </div> -->

          <div class="form-group row">
            <label for="Work Transfer From" class="col-sm-2 col-form-label">Work Transfer From</label>
            <div class="col-sm-10">
              <p-dropdown name="transferFrom" [options]=" transferFromSource" optionLabel="label">
              </p-dropdown>
            </div>
          </div>

          <div class="form-group row">
            <label for="work Transfer To" class="col-sm-2 col-form-label">Work Transfer To</label>
            <div class="col-sm-10">
              <p-dropdown name="transferTo" [options]=" transferToSource" optionLabel="label">
              </p-dropdown>
            </div>
          </div>


          <div class="form-group row">
            <label for="Task List" class="col-sm-2 col-form-label">Task List</label>
            <div class="col-sm-10">
              <!-- <p-dropdown name="Task List" [options]=" taskSource" optionLabel="label">
              </p-dropdown> -->
              <p-multiSelect [options]="taskSource" optionLabel="label"></p-multiSelect>
            </div>
          </div>



          <div class="form-group row">
            <label for="purpose" class="col-sm-2 col-form-label">Work Transfer Description</label>
            <div class="col-sm-10">
              <textarea class="form-control mw-350" id="Decription" name=" Decription" rows="3"
                placeholder="Description"></textarea>
            </div>
          </div>


          <div class="form-group row">
            <label for="purpose" class="col-sm-2 col-form-label">Valid upto</label>
            <div class="col-sm-10">
              <p-calendar [(ngModel)]="dates" [showIcon]="true"></p-calendar>
            </div>
          </div>







        </div>

        <div class="d-flex mt-4 justify-content-end">
          <button type="button" class="btn btn-default rounded-pill me-3" (click)="backToCCClick()">Cancel</button>
          <button type="button" class="btn btn-primary rounded-pill me-3"  (click)="addRequest()">Submit</button>
      </div>
      </form>
      <p-toast></p-toast>
      <p-confirmDialog>
        <ng-template pTemplate="message" let-message>
            <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                <p>{{ message.message }}</p>
            </div>
        </ng-template>
    </p-confirmDialog>
    </div>
  </div>
</div>