.new-doc-btn-styles{
    background-color:#22c55e;
}
.activities-style{
    margin-top: 0.5rem;
    font-size: medium;
    font-weight: 500;
}
.new-doc-styles{
    margin-left:56px;
}
.p-styles {
    font-size: large;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
}
.bg-qams-clr{
    background-color: #4d44b5;
}
.sidebar-styles {
    height: 70px;
}
.cross-icon-styles{
    margin-left: 23rem;
    color: #ffffff;
    cursor: pointer;
}
.button-styles {
    justify-content: end;
}
.cursor-pointer{
    cursor: pointer;
}
